



/************************************************************************************************************************************************/


@media (min-width:569px) and (max-width:767px)

{

body 
 {
    
    overflow-x: hidden;
    justify-content: center;
    padding-left:10px;
}

.nav
{
    display: block;
    flex-direction: column;
}

.logo
{
    position: relative;
    left:200px;
}

/*effet de la ligne bleu sur la navigation*/

.pose1
{
    display:flex;
    align-items: baseline;
    margin:0;
    padding: 0;
    width:150px ;
    position:relative;
    left:280px;
}

.line
{
    width:350px;
    position: relative;
    right:270px;
    top:20px;
    font-size:25px;
    padding:50px;
    border-bottom: 5px solid #F2F2F2;
    padding-bottom:20px;
    margin-right: 0;
   
}

.line1
{
    width:350px;
    position: relative;
    right:269px;
    top:20px;
    font-size:25px;
    padding:50px;
    border-bottom: 5px solid #F2F2F2;
    padding-bottom:20px;
    margin-left:0;
    padding-right:80px;
    padding-left:90px;
}


.line:hover
{
    display:flex;
    border-top:none;
    border-bottom: 5px solid #0065FC;
}



.line1:hover
{
    display:flex;
    border-top:none;
    border-bottom: 5px solid #0065FC;
    
}


/*Travail sur les Filtres*/


.filtre
{
    display:block;
    flex-direction: column;
}

.ftext2
{
    position:relative;
    left:200px;
    top:-75px;
   
}

.ftext3
{
    position:relative;
    Bottom:80px;
}

.ftext4
{
    position:relative;
    bottom:85px;
}


/*travail sur l'info 500 logements*/

.tabpositionh1
{
    width: 550px;
    font-size:xx-large;
    padding-top:20px;
}

.tabpositionp
{
    width:550px;
    font-size:28px;
}

.info
{
    width:380px;
    padding-top: 10px;
    padding-bottom: 20px;
    position:relative;
    bottom:100px;
}

.infopositionp
{
  font-size: 18px;
}

/*Travail sur la partie Populaire et hébergement*/

#hebergementmarseille
{
    display: block;
    flex-direction: column-reverse;
}

.blocpopulaire
{
    display:block;
    align-items: baseline;
    width: 545px;
    border-radius:0;
    position: relative;
    right:50px;
    bottom:2700px;
    padding: auto;
}

.grostitre2
{
    position: relative;
    right:20px;
}

.photo2
{
    width:550px;
    height:200px;
    margin:0;
    padding:0;
    padding-bottom:10px;
    position: relative;
    right:10px;
}

.phone
{
    width:200px;
    height:180px;
}

.phone1
{
    width:290px;
    height:180px;
    position: relative;
    top:-151px;
}

.blochebergement
{
    width:555px;
    height:2500px;
    display:flex;
    background-color:white;
    border-radius:0;
    position:relative;
    top:620px;
    right:60px;
}

.grostitre1

{
    position:relative;
    top:-230px;
    border:2px solid red;
   
}
.cologne1
{
    display:block;
    flex-direction: column;
    position:relative;
    bottom:710px;
}

.positionimg1, .positionimg2, .positionimg3
{
    width:510px;
    height:270px;
    position: relative;
    left:22px;
    box-shadow:5px 7px 6px 5px #F2F2F2;
}

.fondpose1, .fondpose2, .fondpose3
{
    box-shadow: 5px 7px 6px 5px #F2F2F2;
    width:520px;
    position: relative;
    left:22px;
}

.cologne2
{
    display:block;
    flex-direction: column;
    position: relative;
    bottom:345px;
}

.posimge3, .posimg4, .posimg5
{
    width:510px;
    height:270px;
    position: relative;
    left:22px;
    box-shadow: 5px 7px 6px 5px #F2F2F2;
}

.fondpos3, .fondpose4, .fondpose5
{
    width:510px;
    position: relative;
    left:22px;
    top:-45px;
    box-shadow: 5px 7px 6px 5px #F2F2F2;
}

.plus
{
    position: relative;
    top:120px;

}


/*Travail sur la Partie Activités à Marseille*/

#activitemarseille
{
    flex-grow: 1;
    width:700px;
    height: 920px;
    box-sizing: border-box;
    margin:0;
    padding:0;
    Position:relative;
    left:20px;
    top:10px;
    border-radius: 20px;
}


.grostitre3
{
    font-size:18px;
    position: relative;
    left:10px;
    bottom:300px;
}


.conteneur
{
    flex-direction: column;
}


/*Travail sur le Bloc1*/

.blocimage
{
    flex-direction:row;
}

.blocimage2
{ 
    flex-direction: row;
}

.titreactivite1
{
    width:495px;
    font-size: 16px;
    position: relative;
    top:200px;
    left:0px;
    border-color:white; 
    box-shadow: 5px 7px 6px 5px #F2F2F2;
}

.activimage1 
{
    position: relative;
    bottom:210px;
    right:20px;
}

.activite1
{
    width:510px;
    height:270px; 
    box-shadow: 5px 7px 6px 5px #F2F2F2;
}


/*division du bloc1*/

.titreactivite2
{
    width:493px;
    font-size: 16px;
    position: relative;
    top:200px;
    left:0px;
    border-color:white; 
}

.activimage2
{
  
    padding-right:30px;
    position: relative;
    top:100px;
    right:370px;
}


.activite2
{
    width:510px;
    height:270px;  
}

.titreactivite3
{
    width:510px;
    font-size: 16px;
    position: relative;
    top:135px;
    left:0px;
    border-color:white; 
}

.activimage3
{
    position:relative;
    right:555px; 
    top:350px;
}

.activite3
{
    width:510px;
    height:270px;  
    position: relative;
    bottom:0px;
}

/*Travail sur le Bloc2 */


.titreactivite4
{
   
    width: 281px;
    font-size: 16px;
    position: relative;
    top:145px;
    left:-10px;
    border-color:white; 
}

.activimage4
{
    width: 250px;
    height: 185px;
    position:relative;
    bottom:10px;
    left:330px; 
}


.activite4
{
    width: 295px;
    height: 185px;  
}


/*division du bloc2*/


.titreactivite5
{
    
    width: 281px;
    font-size: 16px;
    position: relative;
    top:140px;
    left:0px;
    border-color:white; 
}


.activimage5
{
    width: 250px;
    height: 185px;
    position: relative;
    left:65px;
    top:255px;
}

.activite5
{
    width: 295px;
    height: 185px;  
}


.titreactivite6
{
    width:281px;
    font-size: 16px;
    position: relative;
    top:195px;
    left:0px;
    border-color:white; 
}


.activimage6
{
    width: 250px;
    height: 185px;
    position:relative;
    left:140px;
    top:200px;
}


.activite6
{
    width: 295px;
    height: 185px;  
}


}
  















/*********************************************************************RESERVE AU TELEPHONE PORTABLE TYPE IPHONE***********************************************************************/

/**************************************************************************************************************************************************************************/



 

/**************************************************************TAILLE ECRAN DE PORTABLE LARGEUR MAXIMUM 480PX *************************/


@media (min-width:320px) and (max-width:480px) { /*Taille écran portable (320X480)*/

    body 
    {
        background-color:crimson;
    }
}

/****************************************************************************************TAILLE ECRAN PORTABLE LARGEUR MINIMUM 320PX***********************************/






@media (max-width:320px) { /*Taille ecran Portable Portrait (320x480)*/



    body 
    {
        background-color:orangered;
        
        
    }
}