



/************************************************************************************************************************************************/


@media (min-width:569px) and (max-width:767px)

{

body 
 {
    background-color:yellow;
    overflow-x: hidden;
    justify-content: center;
    padding-left:10px;
}

.nav
{
    display: block;
    flex-direction: column;
}

.logo
{
    position: relative;
    left:200px;
}

/*effet de la ligne bleu sur la navigation*/

.pose1
{
    display:flex;
    align-items: baseline;
    margin:0;
    padding: 0;
    width:150px ;
    position:relative;
    left:280px;
}

.line
{
    width:350px;
    position: relative;
    right:270px;
    top:20px;
    font-size:25px;
    padding:50px;
    border-bottom: 5px solid #F2F2F2;
    padding-bottom:20px;
    margin-right: 0;
   
}

.line1
{
    width:350px;
    position: relative;
    right:269px;
    top:20px;
    font-size:25px;
    padding:50px;
    border-bottom: 5px solid #F2F2F2;
    padding-bottom:20px;
    margin-left:0;
    padding-right:80px;
    padding-left:90px;
}


.line:hover
{
    display:flex;
    border-top:none;
    border-bottom: 5px solid #0065FC;
}



.line1:hover
{
    display:flex;
    border-top:none;
    border-bottom: 5px solid #0065FC;
    
}


/*Travail sur les Filtres*/


.filtre
{
    display:block;
    flex-direction: column;
}

.ftext2
{
    position:relative;
    left:200px;
    top:-75px;
   
}

.ftext3
{
    position:relative;
    Bottom:80px;
}

.ftext4
{
    position:relative;
    bottom:85px;
}


/*travail sur l'info 500 logements*/

.tabpositionh1
{
    width: 550px;
    font-size:xx-large;
    padding-top:20px;
}

.tabpositionp
{
    width:550px;
    font-size:28px;
}

.info
{
    width:380px;
    padding-top: 10px;
    padding-bottom: 20px;
    position:relative;
    bottom:100px;
}

.infopositionp
{
  font-size: 18px;
}

/*Travail sur la partie Populaire et hébergement*/

#hebergementmarseille
{
    display: block;
    flex-direction: column-reverse;
}

.blocpopulaire
{
    display: flex;
    align-items: baseline;
    width: 545px;
    border-radius:0;
    position: relative;
    right:50px;
    bottom:3500px;
    padding: auto;
}

.grostitre2
{
    position: relative;
    right:20px;
}

.photo2
{
    width:550px;
    height:200px;
    margin:0;
    padding:0;
    padding-bottom:10px;
    position: relative;
    right:10px;
}

.phone
{
    width:200px;
    height:180px;
}

.phone1
{
    width:290px;
    height:180px;
    position: relative;
    top:-151px;
}

.blochebergement
{
    width:555px;
    height:3300px;
    display:flex;
    background-color:white;
    border-radius:0;
    position:relative;
    top:630px;
    right:60px;
}

.grostitre1

{
    position:relative;
    bottom:335px;
}
.cologne1
{
    display:block;
    flex-direction: column;
    position:relative;
    bottom:1015px;
}

.positionimg1, .positionimg2, .positionimg3
{
    width:510px;
    height:270px;
    position: relative;
    left:22px;
    box-shadow:5px 7px 6px 5px #F2F2F2;
}

.fondpose1, .fondpose2, .fondpose3
{
    box-shadow: 5px 7px 6px 5px #F2F2F2;
    width:520px;
    position: relative;
    left:22px;
}

.cologne2
{
    display:block;
    flex-direction: column;
    position: relative;
    top:250px;
}

.posimge3, .posimg4, .posimg5
{
    width:510px;
    height:270px;
    position: relative;
    left:22px;
    box-shadow: 5px 7px 6px 5px #F2F2F2;
}

.fondpos3, .fondpose4, .fondpose5
{
    width:510px;
    position: relative;
    left:22px;
    box-shadow: 5px 7px 6px 5px #F2F2F2;
}


#activitemarseille
{
    position: relative;
    top:250px;
}

}
  















/*********************************************************************RESERVE AU TELEPHONE PORTABLE TYPE IPHONE***********************************************************************/

/**************************************************************************************************************************************************************************/



 

/**************************************************************TAILLE ECRAN DE PORTABLE LARGEUR MAXIMUM 480PX *************************/


@media (min-width:320px) and (max-width:480px) { /*Taille écran portable (320X480)*/

    body 
    {
        background-color:crimson;
    }
}

/****************************************************************************************TAILLE ECRAN PORTABLE LARGEUR MINIMUM 320PX***********************************/






@media (max-width:320px) { /*Taille ecran Portable Portrait (320x480)*/



    body 
    {
        background-color:orangered;
        
        
    }
}