
/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  /* CSS */
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  /* CSS */
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
body{
  padding: 0;
  margin:0;
}


  
/*Travail sur le Main=contenue de la page"*/

#Hébergementmarseille
{
    display: block;
    align-items: center;
    margin:0;
    padding: 0;
    
}

.blochébergement
{
    width:90%;
    height: 730px;
    display: block;
    flex-direction: column;
    align-items: center;
    background-color:#F2F2F2;
    margin:20px;
    padding: 20px;
    border-radius: 20px;
}

.blocpopulaire
{
    width:90%;
    height: 350px;
    background-color: #F2F2F2;
    box-sizing:content-box;
    border-radius: 20px;
    display: block;
    flex-direction: row;
 
}


.Grostitre2
{
    font-size: 28px;
    display: flex;
    margin:0;
    
}

/*positionnement de l'icone chart sur le bloc les plus populaires*/

.Positionicon

{
    display:flex;
    align-items: baseline;
    justify-content: space-between;
    padding-bottom: 5px;
    position: relative;
    left:250px;
}

.iconechart
{
    font-size: 22px;
    padding-left:50px;
}


/*Travail sur la partie les plus populaires*/

.photo2
{
    display:inline-flex;
    flex-grow:1;
    width: 290px;
    height: 240px;
    margin:0px;
    padding:0px;
    
}

.Image3
{
    display:block;
    align-items:baseline;
    justify-content: space-between;
    width:250px ;
    height: 185px;
    object-fit: cover;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0;
    border:5px solid white;
    
    
}


.fond3
{
    background-color:white;
    width: 260px;
    height: 100px;
    flex-grow:1;
    margin:0px;
    padding:0px;
    display: flex;
    border:none;
    border-top-right-radius:0;
    border-bottom-left-radius: 20px;
    position:absolute;
    left: 25px;
   
    bottom:-30px;
    z-index: 1;
}


.titrehotel3
{
    font-size: 16px;
    width: 220px;
    margin:0px;
    padding:0px;
    font-weight: bolder;
    position: relative;
    left:20px;
    top:10px;
  
}





.soustitre3
{
    font-size:16px;
    margin:0px;
    padding:0px;
    padding-left:20px;
    font-weight: lighter;
    position: relative;
    top:20px;
}

.taby
{
  position:relative;
  top:8px;
}


.etoile
{
    width: 100px;
    margin:0px;
    padding:0px;
    padding-left:20px;
    display: flex;
    align-items: baseline; 
    position: relative;
    top: 10px;
}

.etoile1
{
    color: #0065FC;
    font-size: 15px;
    position: relative;
    margin: 0px;
    padding: 0px;
    position: relative;
}

.etoilex
{
  
    position: relative;
    left:18px;
    top:30px;
    
}

.etoiley
{
position: relative;
left:18px;
top:10px;


}

.etoilez
{
  position: relative;
  left:18px;
  top:30px;
  
  }



}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  /* CSS */
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  /* CSS */
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  /* CSS */
  
}