@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,600;1,400&display=swap');

* {
    font-family:'Raleway', sans-serif ;
    align-items: center;
    width:max-content;
    
}

/*Travail sur Le menu de Navigation avec le logo*/

.logo
{
    width: 130px;
    height: 50px;
    padding-left: 50px;
    position: relative;
    top:10px;
}

img 
{
    width: 100%;
    height: auto;
}

.nav
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

ul
{
    font-size: 20px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    padding-right: 50px;
}

a 
{
    text-decoration: none;
    color: black;
    position: relative;
}

/*effet de la ligne bleu sur la navigation*/

a:hover
{
    color:#0065FC
}

.line
{
    border-top: 2px solid transparent;
    padding-top: 50px;
    position:relative;
    bottom:20px;
    right: 60px;
}

.line:hover
{
    border-top: 2px solid #0065FC;
    padding-top: 50px;
    position:relative;
    bottom:20px;
}

.line1
{
    border-top: 2px solid transparent;
    padding-top: 50px;
    position:relative;
    bottom:20px;
}

.line1:hover
{
    border-top: 2px solid #0065FC;
    padding-top: 50px;
    position:relative;
    bottom:20px;
}

.pose1
{
    position:relative;
    left: 1080px;
} 


/*travail sur la balise H1 et le paragraphe ci-dessous*/

h1
{
    font-size: large;
    padding-left: 30px;
}

h1 + p
{
    font-size: 18px;
    position: relative;
    bottom: 10px;
    margin-bottom: 20px;
    padding-left: 30px;
}

/*Travail sur la barre de recherche*/
.search
{
    display: flex;
    border-radius: 20px;
    font-size: 25px;
    padding-left: 25px;
    position: relative;
    left: 5px;
}

.A {
    width: 240px;
    height: 50px;
    display: flex;
    border: 0.8px solid #F2F2F2;
    font-weight: bold;
    padding:5px;  
}

::placeholder
{
    font-size:18px;
    color: black;
    opacity: 1;
}

.rep 
{
    background-color: #0065FC;
    color: white;
    padding: 10px;
    height: 50px;
    border: none;
    padding-top: 15px;
    padding-bottom: 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: baseline;
    position: relative;
    font-size: 18px;
    font-weight: bold;
    z-index:1;
}


.logo-color{
    color: black;
    background-color: #F2F2F2;
    border: 2px solid #F2F2F2;
    width: 40px;
    height: 45px;
    margin:0px;
    padding:0px;
    margin-top: 2px;
    margin-left:2px;
    padding-top:2px;
    padding-bottom: 0px;
    padding-left:20px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    display: flex;
    align-items: center;
    position: relative;
    bottom:1px;
    z-index:1;
}


/*Travail sur les Filtres*/


.filtre /*toutes ma colonne de filtres*/
{
    display: flex;
    align-items: baseline;
    font-size: 30px;
    margin: 20px;
    padding-left: 15px;
}

.F1{
    font-weight: bold;
    font-size: 20px;
    margin-right: 20px;
}


.F2 /*ma bordure de filtre*/
{
    border: 2px solid #F2F2F2;
    height: 50px;
    border-radius: 30px;
    margin-right: 0px;
    display: flex;
    align-items: center;
    margin:20px;
}

.iconefiltres
{
    border-radius: 30px;
    font-size: 25px;
    width: 45px;
    height: 40px;
    margin:0px;
    padding: 0px;
    color: #0065FC;
    background-color: #F2F2F2;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-top: 15px;
    
}

.recadre
{
    position: relative;
    top:4px;
}
.recadre1
{
    font-size:30px;
    margin: 0px;
   
}

.ftext
{
    font-size: 19px;
    font-weight: bolder;
    display: flex;
    padding-right:15px;
    padding-left:10px;
    
}

.ftext:hover
{
    color: #0065FC;
    text-transform:uppercase;
}

/*information 500 logements*/

.info
{
    display: flex;
    align-items: baseline;
    padding-left: 35px;
}

.iconeInfo
{
    border: 2px solid #F2F2F2;
    border-radius: 25px;
    color: #0065FC;
    display: flex;
    font-size: 15px;
    align-items: center;
    width:10px;
    height: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 6px;
    padding-left:9px;
    margin-right: 10px;
}

/*Travail sur le Main=contenue de la page"*/

#hebergementmarseille
{
    display: flex;
    padding-left:20px;
}

.blochebergement
{
    flex:1;
    height: 730px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-around;
    background-color: #F2F2F2;
    margin:20px;
    padding: 20px;
    border-radius: 20px;
}

.blocpopulaire
{
    flex:1;
    height: 730px;
    background-color: #F2F2F2;
    margin:20px;
    padding: 20px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

/*Travail sur les Titres des deux bloc Hebergement et populaire*/


.grostitre1
{
    font-size: 22px;
    margin-left: 55px;
    padding-bottom: 22px;
    position: relative;
    right:30px;
}

.grostitre2
{
    font-size: 22px;
    position: relative;
    padding-top: 5px;
    padding-left: 35px;
    padding-bottom: 20px;
}

/*positionnement de l'icone chart sur le bloc les plus populaires*/

.positionicon

{
    display:flex;
    align-items: baseline;
    justify-content: space-between;
    margin-right:30px;
}

.iconechart
{
    font-size: 22px;
    padding-left: 180px;
}

/*Travail sur le bloc Hébergement à Marseille*/

.cologne1
{
    display: flex;
    align-items: baseline;
    width: 920px;
    height: 240px;
    margin:0px;
    padding:0px;
    justify-content: space-around;
    position: relative;
    right: 2px;
    bottom:23px;
}

.cologne2
{
    width: 920px;
    height:240px;
    margin:0px;
    padding:0px;
    margin-top:60px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    position: relative;
    left:2px;
    bottom: 20px;
}


/*Travail sur la première cologne*/

.image1
{
    border: 5px solid white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin:0px;
    padding:0px;
    width: 250px;
    height: 185px;
}

.fond1
{
    background-color: white;
    width: 260px;
    height: 90px;
    margin:0px;
    padding:0px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: relative;
    bottom:40px;
    z-index: 1;
}


.titrehotel1
{
    font-size: 18px;
    margin:0px;
    padding:0px;
    padding-top:10px;
    padding-left:20px;
    font-weight: bolder;
}

.soustitre1
{
    font-size:18px;
    margin:0px;
    padding:0px;
    padding-left:20px;
    font-weight: lighter;
    position: relative;
    top:5px;  
}


.etoile
{
    width: 100px;
    margin:0px;
    padding:0px;
    padding-left:20px;
    display: flex;
    align-items: baseline; 
    position: relative;
    top: 10px;
}

.etoile1
{
    color: #0065FC;
    font-size: 15px;
    position: relative;
    margin: 0px;
    padding: 0px;
    position: relative;
}

/*travail sur le deuxième cologne*/

.image2
{
    border: 5px solid white;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    margin:0px;
    padding:0px;
    width: 250px;
    height: 185px;
    object-fit: cover;
    position: relative;
    left:0px;
}


.titrehotel2
{
    position: relative;
    top:10px;
    left:10px;
    font-size: 18px;
    font-weight: bolder;
}

.soustitre2
{
    position: relative;
    left:10px;
    bottom:5px; 
    font-size: 18px;
    font-weight: lighter;
}


.fond2
{
    background-color: white;
    width: 250px;
    height: 90px;
    padding-left:10px;
    border-bottom-left-radius:20px;
    border-bottom-right-radius: 20px;
    position: relative;
    bottom: 60px;
    z-index: 1;
}


.etoileb
{
    width: 100px;
    margin:0px;
    padding:0px;
    padding-left:10px;
    display: flex;
    bottom:20px;
    right: 10px;
    align-items: baseline; 
    position: relative;
}

.etoile2
{
    color: #0065FC;
    font-size: 15px;
    position: relative;
    left:10px;
}

.plus /*Petit texte Afficher plus*/
{
    font-size: 18px;
    font-weight: bold;
    position: relative;
    bottom:10px;
    left:30px;
}


/*Travail sur la partie Les plus Populaires*/



.photo2
{
    display: flex;
    align-items: baseline;
    justify-content: center;
    width: 450px;
    height: 180px;
    padding-bottom: 50px;
    padding-left: 10px;
    position: relative;
    bottom:7px;
}


.image3
{
    border: 5px solid white;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    margin-bottom:30px;
    width: 160px;
    height: 160px;
    object-fit: cover;
    display: flex;
    align-items: baseline;
    position: relative;
    left: 10px;
}

.fond3
{
    display: flex;
    width: 220px;
    height: 160px;
    border:5px solid white;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;
    padding-left: 20px;
    flex-direction: column;
    align-items: baseline;
    position: relative;
    left:2px;
    bottom:131px;
    z-index: 1;
}

.titrehotel3
{
    font-size: 18px;
    width: 150px;
    font-weight: bolder;
}


/*Travail sur le cadre individuelle de chaque *titrehotel3 pour respecter la mise en page textuelle et visuelle de la maquette*/

.x
{
    font-size:18px;
    width: 190px;
    font-weight: bolder;   
}

.y
{
    font-size:18px;
    width: 200px;
    font-weight: bolder;
}

.z
{
    font-size:18px;
    width:200px;
    font-weight: bolder;  
}

/*Si modification penser à changer le"Bottom" du sélecteur etoileY*/
/*Fin de la correction*/


.soustitre3
{
    font-size:18px;
    width:200px;
    font-weight: lighter;
    justify-content: center;
    position:relative;
    bottom: 30px;
}

.etoilex
{
    display: flex;
    align-items: baseline; 
    position: relative;
    bottom:5px;
}

.etoiley
{
    display:flex;
    align-items:baseline; 
    position:relative;
    bottom:5px;
}

.etoilez
{
    display:flex;
    align-items:baseline; 
    position:relative;
    bottom:5px;
}

.etoile3
{
    color: #0065FC;
    font-size: 15px;
}

/*Couleur étoile grise*/

.G
{
    color: #DEEBFF;
    font-weight: bolder;
}


/*Travail sur la Partie Activités à Marseille*/

#activitemarseille
{
    width: auto;
    height: 700px;
    display: flex;
    flex-direction: column;
    position: relative;
    top:40px;
}


.grostitre3
{
    font-size: 15px;
    display: flex;
    align-items: baseline;
    position: relative;
    right:640px;
}


.conteneur
{
    width:100%;
    height: 520px;
    display: flex;
    align-items: baseline;
    justify-content: space-around;
}


/*Travail sur le Bloc1*/

.bloc1
{
    display: flex;
    align-items: baseline;
    position:relative;
    left:20px;
}



.titreactivite1
{
    background-color: white;
    width: 298px;
    padding-left:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border:2px solid #F2F2F2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 5px #F2F2F2;
    font-size: 18px;
    font-weight: bolder; 
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: relative;
    top:400px;
    left:4px;
    z-index: 1;
    
}


.activimage1
{
    width: 330px;
    height: 495px;
    display: flex;
    flex-direction: column;
    float: left;
    position: relative;
    bottom:5px;
    right: 50px;

}

.activite1
{
    width: 320px;
    height: 475px;
    border: 5px solid white;
    border-radius: 20px;
    object-fit: cover;
    display: flex;
    position: relative;
    bottom: 100px;
}

/*division du bloc1*/

.blocimage
{
    display: flex;
    flex-direction:column;
    align-items: baseline;
    position: relative;
    left:20px;
}



.titreactivite2
{
    background-color: white;
    width: 298px;
    padding-left:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border:2px solid #F2F2F2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 5px #F2F2F2;
    font-size: 18px;
    font-weight: bolder; 
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: relative;
    top:165px;
    left:4px;
    z-index: 1; 
}



.activimage2
{
    width: 332px;
    height: 300px;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom:5px;
}

.activite2
{
    width: 320px;
    height: 225px;
    border: 5px solid white;
    border-radius: 20px;
    object-fit: cover;
    position: relative;
    bottom: 100px;   
}

.titreactivite3
{
    background-color: white;
    width: 298px;
    padding-left:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border:2px solid #F2F2F2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 5px #F2F2F2;
    font-size: 18px;
    font-weight: bolder; 
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: relative;
    left:4px;
    top:95px;
    z-index: 1;
}

.activimage3
{
    width: 330px;
    height: 180px;
    display: flex;
    flex-direction: column;
}


.activite3
{
    width: 320px;
    height: 180px;
    border: 5px solid white;
    border-radius: 20px;
    object-fit: cover;
    position: relative;
    bottom:110px;
}



/*Travail sur le Bloc2 */


.bloc2
{
    display: flex;
    align-items: baseline;
    position:relative;
    left:40px;
}


.titreactivite4
{
    background-color: white;
    width: 300px;
    padding-left:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border:2px solid #F2F2F2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 5px #F2F2F2;
    font-size: 18px;
    font-weight: bolder; 
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: relative;
    top:405px;
    right:7px;
    z-index: 1; 
}


.activimage4
{
    width: 330px;
    height: 495px;
    display: flex;
    flex-direction: column;
    float: left;
    position: relative;
    bottom:10px;
    right: 50px;
}


.activite4
{
    width: 320px;
    height: 475px;
    border: 5px solid white;
    border-radius: 20px;
    object-fit: cover;
    display: flex;
    position: relative;
    bottom: 95px;
    right: 10px;
}



/*division du bloc2*/


.blocimage2
{
    display: flex;
    flex-direction:column;
    align-items: baseline;
    position: relative;
    left:10px;
}


.titreactivite5
{
    background-color: white;
    width: 298px;
    padding-left:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border:2px solid #F2F2F2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 5px #F2F2F2;
    font-size: 18px;
    font-weight: bolder; 
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: relative;
    top:105px;
    left:4px;
    z-index: 1;
}


.activimage5
{
    width: 330px;
    height: 180px;
    display: flex;
    flex-direction: column;
    position: relative;
    bottom:5px;

}

.activite5
{
    width: 320px;
    height: 180px;
    border: 5px solid white;
    border-radius: 20px;
    object-fit: cover;
    position: relative;
    bottom:100px;
}


.titreactivite6
{
    background-color: white;
    width: 298px;
    padding-left:20px;
    padding-top: 20px;
    padding-bottom: 20px;
    border:2px solid #F2F2F2;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 5px #F2F2F2;
    font-size: 18px;
    font-weight: bolder; 
    display: flex;
    flex-direction: column;
    align-items: baseline;
    position: relative;
    top:215px;
    left:4px;
    z-index: 1;
}


.activimage6
{
    width: 330px;
    height: 300px;
    display: flex;
    flex-direction: column;
}


.activite6
{
    width: 320px;
    height: 225px;
    border: 5px solid white;
    border-radius: 20px;
    object-fit: cover;
    position: relative;
    bottom: 45px;  
}


/*Travail sur le Footer, il y a 3 Bloc*/

.footer
{
    width:1583px;
    height: 250px;
    background-color: #F2F2F2;
    display: flex;
    align-items:center;
    justify-content:center;
    justify-content: space-around;
   
    
    
}


/*Travail sur les Titres*/

.titrefooter
{
    font-size: 18px;
    font-weight: bolder;
    font-size: 20px;
}


.listeA
{
    width: 290px;
    height: 300px;
    margin:0px;
    padding: 0px;
    display:block;
    flex-direction: column;
    align-items: baseline;
    justify-content: space-between;
}


.liste
{
    margin:0px;
    padding-bottom: 15px;
    position: relative;
}



/*Travail sur les Bloc 1*/


.apropos
{
    display: flex;
    width: 338px;
    height: 200px;
    align-items: baseline;
    justify-content: left;
    flex-direction: column;
    position: relative;
    top:5px;
    right: 40px;
}


/*Travail sur le Bloc 2*/

.noshebergements
{
    display: flex;
    width: 338px;
    height: 200px;
    align-items: baseline;
    justify-content: left;
    flex-direction: column;
    position: relative;
    top:5px;
    right:50px;
}


/*Travail sur le Bloc 3*/

.assistance
{
    display: flex;
    width: 380px;
    height: 200px;
    align-items: baseline;
    justify-content: left;
    flex-direction: column;
    position: relative;
    top:5px;
    right: 80px;
}






