
/****************************************************************************************TAILLE ECRAN ORDINATEUR LARGEUR MINIMUM 1440PX***********************************/






@media only screen and (min-width:960px) and (max-width:1440px) and (orientation:landscape) { /*Taille ecran ordinateur de bureau (1440x960)*/



    body 
    {
        background-color: red;
        
        
    }
    
    /*travail sur la balise H1 et le paragraphe ci-dessous*/
    
    h1
    {
        font-size: large;
        padding-left: 30px;
    }
    
    h1 + p
    {
        font-size: 18px;
        position: relative;
        bottom: 10px;
        margin-bottom: 20px;
        padding-left: 30px;
    }
    
    .tabpositionh1
    {
      font-size: 20px;
      position: relative;
      top:20px;
    }
    
    .tabpositionp
    {
      position: relative;
      top:10px;
      padding-bottom: 20px;
    }
    
    
    /*Travail sur les Filtres*/
    
    
    .filtre /*toutes ma colonne de filtres*/
    {
        display: flex;
        align-items: baseline;
        justify-content: center;
        justify-content: space-between;
        font-size: 10px;
        margin:0;
        padding: 0;
        padding-left: 35px;
        padding-top: 30px;
        width:850px;
        height: 70px;
    }
    
    .F1{
        font-weight: bold;
        font-size: 18px;
        margin-right: 10px;
    }
    
    
    .F2 /*ma bordure de filtre*/
    {
        border: 2px solid #F2F2F2;
        height: 50px;
        border-radius: 30px;
        margin:0;
        display: flex;
        align-items:flex-start;
        justify-content: space-between; 
    }
    
    
    .iconefiltres
    {
        border-radius: 30px;
        font-size: 25px;
        width: 45px;
        height: 40px;
        margin:0px;
        padding: 0px;
        color: #0065FC;
        background-color:#F2F2F2 ;
        display: flex;
        align-items: center;
        padding-left: 17px;
        padding-top: 10px;
        
    }
    
    .recadre
    {
      position:relative;
      top:5px;
    }
    
    .recadre1
    {
        font-size:30px;
        margin: 0;
        position: relative;
        left:0px;
    }
    
    .ftext
    {
        font-size: 17px;
        font-weight: bolder;
        display: flex;
        padding-right:10px;
        padding-left:10px;
        padding-top:15px;
        
    }
    
    .ftext:hover
    {
        color: #0065FC;
        text-transform:none;
    }
    
    /*travail sur l'info 500 logements*/
    
    .infopositionp
    {
      font-size: 18px;
    }
    
    
    /*effet de la ligne bleu sur la navigation*/
    
    .pose1
    {
        position:relative;
        left: 420px;
    } 
    
      
    /*Travail sur le Main=contenue de la page"*/
    
    #hebergementmarseille
    {
        display: block;
        align-items: center;
        justify-content: center;
      
        width: 930px;
       
        
    }
    
    .blochebergement
    {
        flex-grow:1;
        width:890px;
        height: 730px;
        display: block;
        flex-direction: column;
        align-items:baseline;
        background-color:#F2F2F2;
        margin:0px;
        padding: 0px;
        margin-bottom: 40px;
        border-radius: 20px;
        Position:relative;
        left:10px;
    }
    
    .blocpopulaire
    {
        width:890px;
        height:400px;
        margin:0;
        padding:0;
        background-color: #F2F2F2;
        box-sizing:content-box;
        border-radius: 20px;
        display: block;
        flex-direction: row;
        Position:relative;
        left:10px;
        flex-grow:1; 
    }
    
    .grostitre1
    {
        font-size: 28px;
        display: flex;
        align-items: center;
        position:relative;
        left:220px;
        top:20px;
    }
    
    
    .grostitre2
    {
        font-size: 28px;
        display: flex;
        margin:0;
        
    }
    
    /*travail sur les colognes 1 et 2, partie hébergement à Marseille */
    
    .titrehotel1
    {
        font-size: 15px;
    }
    
    .soustitre1
    {
        font-size: 15px;
    }
    
    .titrehotel2
    {
        font-size: 15px;
        padding-bottom: 5px;
    }
    
    .soustitre2
    {
        font-size: 15px;
        padding-bottom: 5px;
    }
    .cologne1
    
    {
    position: relative;
    top:5px;
        
    }
    
    
    .positionimg2, .fondpose2
    {
        position:relative;
        right: 15px;
    }
    
    .positionimg3, .fondpose3
    {
        position: relative;
        right:30px;
    }
    
    .cologne2
    {
        position:relative;
        top:5px;
    }
    .posimg4, .fondpose4
    {
        position:relative;
        left: -15px;
    }
    
    .posimg5, .fondpose5
    {
        position:relative;
        left:-30px;
    }
    
    .plus
    {
        position:relative;
        top:20px;
    }
    
    /*positionnement de l'icone chart sur le bloc les plus populaires*/
    
    .positionicon
    
    {
        display:flex;
        align-items: baseline;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 20px;
        position: relative;
        left:250px;
    }
    
    .iconechart
    {
        font-size: 22px;
        padding-left:50px;
    }
    
    
    /*Travail sur la partie les plus populaires*/
    
    .photo2
    {
        display:inline-flex;
        justify-content: space-around;
        flex-grow:1;
        width: 290px;
        height: 240px;
        margin:0px;
        padding:0px; 
        position: relative;
        right: 15px;
    }
    
    
    
    .tab1
    {
        display:block;
        align-items:baseline;
        justify-content: space-around;
        width:250px ;
        height: 185px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 0;
        position:relative;
        left:20px;
        border:5px solid white;  
    }
    
    
    
    .fond3
    {
        background-color:white;
        width: 260px;
        height: 100px;
        flex-grow:1;
        margin:0px;
        padding:0px;
        display: flex;
        border:none;
        border-top-right-radius:0;
        border-bottom-left-radius: 20px;
        position:absolute;
        left:35px;
        bottom:-30px;
        z-index: 1;
    }
    
    
    .titrehotel3
    {
        font-size: 15px;
        position: relative;
        left:20px;
        top:10px;
    }
    
    .soustitre3
    {
        font-size:15px;
        padding-left:20px;
        font-weight: lighter;
        position: relative;
        top:20px;
    }
    
    .etoilex
    {
        position: relative;
        left:18px;
        top:30px;
    }
    
    .etoiley
    {
        position: relative;
        left:18px;
        top:13px;
    }
    
    .etoilez
    {
      position: relative;
      left:18px;
      top:30px;
      }
    
    
    /*Travail sur la Partie Activités à Marseille*/
    
    #activitemarseille
    {
        flex-grow: 1;
        width:890px;
        height: 620px;
        box-sizing: border-box;
        margin:0;
        padding:0;
        Position:relative;
        left:30px;
        background-color: #F2F2F2;
        border-radius: 20px;
    }
    
    
    .grostitre3
    {
        font-size: 20px;
        position: relative;
        left:-3px;
        top:10px;
    }
    
    
    .conteneur
    {
        flex-direction: column;
    }
    
    
    /*Travail sur le Bloc1*/
    
    .bloc1
    {
        align-items: baseline;
        position:relative;
        left:80px;
    }
    
    .bloc2
    {   
        position:relative;
        left:95px;
        bottom:10px;
    }
    
    .blocimage
    {
        flex-direction:row;
        position: relative;
        left:-25px;
    }
    
    .blocimage2
    { 
       flex-direction: row;
       position:relative;
       left:-25px;
    }
    
    .titreactivite1
    {
        width: 236px;
        font-size: 16px;
        position: relative;
        top:140px;
        left:0px;
        border-color:white; 
    }
    
    .activimage1
    {
        width: 260px;
        height: 185px;    
    }
    
    
    .activite1
    {
        width: 250px;
        height: 185px; 
    }
    
    
    /*division du bloc1*/
    
    .titreactivite2
    {
        width: 236px;
        font-size: 16px;
        position: relative;
        top:140px;
        left:0px;
        border-color:white; 
    }
    
    .activimage2
    {
        width:260px;
        height:185px; 
        padding-right:30px;
       
    }
    
    
    .activite2
    {
        width: 250px;
        height: 185px; 
    }
    
    .titreactivite3
    {
        width: 236px;
        font-size: 16px;
        position: relative;
        top:135px;
        left:0px;
        border-color:white; 
    }
    
    .activimage3
    {
        width: 250px;
        height: 185px;  
    }
    
    .activite3
    {
        width: 250px;
        height: 180px;
        position: relative;
        bottom:105px;
    }
    
    
    
    /*Travail sur le Bloc2 */
    
    
    .titreactivite4
    {
       
        width: 236px;
        font-size: 16px;
        position: relative;
        top:145px;
        left:-10px;
        border-color:white; 
    }
    
    
    .activimage4
    {
        width: 250px;
        height: 185px;
        
        
    }
    
    
    .activite4
    {
        width: 250px;
        height: 185px;
    }
    
    
    
    /*division du bloc2*/
    
    
    
    
    .titreactivite5
    {
        
        width: 236px;
        font-size: 16px;
        position: relative;
        top:140px;
        left:0px;
        border-color:white; 
    }
    
    
    .activimage5
    {
        width: 250px;
        height: 185px;
        
    }
    
    .activite5
    {
        width: 250px;
        height: 185px;
       
    }
    
    
    .titreactivite6
    {
        
        width: 236px;
        font-size: 16px;
        position: relative;
        top:195px;
        left:0px;
        border-color:white; 
    }
    
    
    .activimage6
    {
        width: 250px;
        height: 185px;
        position:relative;
        left: 35px;
        bottom:60px;
    }
    
    
    .activite6
    {
        width: 250px;
        height: 185px;
        
    }
    
    
    
    /*Travail sur le Footer, il y a 3 Bloc*/

    .footer
{
    width: 890px;
    box-sizing: border-box;
    height: 210px;
    border-radius: 20px;
    margin:0;
    padding:0;
    padding-top: 10px;
    align-items: baseline;
    justify-content: center;
    position: relative;
    top:100px; 
    left:30px;
 
}
    
    /*Travail sur les Titres*/
    
    .titrefooter
    {
        font-size: 18px;
        flex-direction: row;
        
    }
    
    
    /*Travail sur les Bloc 1*/
    
    
    .apropos
    {
        width:290px;
        position: relative;
        top:5px;
        right:60px; 
       
    }
    
    
    /*Travail sur le Bloc 2*/
    
    .noshebergements
    {
        width:200px;
        height:200px;
        position: relative;
        top:5px;
        right:30px;
       
    }
    
    
    /*Travail sur le Bloc 3*/
    
    .assistance
    {
        width:200px;
        height:200px;
        position: relative;
        top:5px;
        left:45px;
     
    }
    
    }

















/*************************************************TAILLE ECRAN ORDINATEUR PORTABLE OU PETIT PORTABLE TABLETTE LARGEUR MAXIMUM 1280PX******************************************************/



@media (min-width:961px) and (max-width:1280px) and (orientation:landscape) { /*Taille écran tablette (1280X802) Correspond à Nexus 10 Paysage*/

    body 
    {
        background-color:blue;
    }
   
       
       /*Travail sur les Filtres*/
       

       .F2 /*ma bordure de filtre*/
       {
           margin-right:50px;
       }
     
       /*travail sur l'info 500 logements*/
       
       .infopositionp
       {
         font-size: 18px;
       }
       
       
       /*effet de la ligne bleu sur la navigation*/
       
       .pose1
       {
           position:relative;
           left:780px;
       } 
       
         
       /*Travail sur le Main=contenue de la page"*/
       
       #hebergementmarseille
       {
           width: 1210px; 
       }
       
       .blochebergement
       {
           flex-grow:1;
           width:1200px;
           height: 730px;
           display: block;
           flex-direction: column;
           align-items:baseline;
           background-color:#F2F2F2;
           margin:0px;
           padding: 0px;
           margin-bottom: 40px;
           border-radius: 20px;
           Position:relative;
           left:10px;
       }
       
       .blocpopulaire
       {
           width:1200px;
           height:400px;
           margin:0;
           padding:0;
           background-color: #F2F2F2;
           box-sizing:content-box;
           border-radius: 20px;
           display: block;
           flex-direction: row;
           Position:relative;
           left:10px;
           flex-grow:1; 
       }
       
       .grostitre1
       {
           font-size: 28px;
           display: flex;
           align-items: center;
           position:relative;
           left:380px;
           top:25px;
       }
       
       
       .grostitre2
       {
           font-size: 28px;
           display: flex;
           margin:0;
           
       }
       
       /*Travail sur la taille des images*/

       .cologne1
       
       {
        position: relative;
        left:100px;  
       }
       
       .cologne2
       {
           position:relative;
           left:100px;
       }

       .image1 
       {
           width:340px; 
       }
       
       .fond1
       {
           width:350px;
       }

       .image2 
       {
           width: 340px;
       }

       .fond2 
       {
           width:340px;
       }
     
       /*travail sur les colognes 1 et 2, partie hébergement à Marseille */
       
       .titrehotel1
       {
           font-size:18px;
       }
       
       .soustitre1
       {
           font-size:18px;
       }
       
       .titrehotel2
       {
           font-size:18px;
           padding-bottom: 5px;
       }
       
       .soustitre2
       {
           font-size:18px;
           padding-bottom: 5px;
       }
       
       
       .positionimg2, .fondpose2
       {
           position:relative;
           left:40px;
       }
       
       .positionimg3, .fondpose3
       {
           position: relative;
           left:80px;
       }
      
     
       .posimg4, .fondpose4
       {
           position:relative;
           left:40px;
       }
       
       .posimg5, .fondpose5
       {
           position:relative;
           left:80px;
       }
       
       .plus
       {
           position:relative;
           top:40px;
           left:38px;
       }
       
       /*positionnement de l'icone chart sur le bloc les plus populaires*/
       
       .positionicon
       
       {
           display:flex;
           align-items: baseline;
           justify-content: space-between;
           padding-top: 10px;
           padding-bottom: 20px;
           position: relative;
           left:400px;
       }
       
       .iconechart
       {
           font-size: 22px;
           padding-left:50px;
       }
       
       
       /*Travail sur la partie les plus populaires*/
       
       .photo2 
       {
           width:340px;
           height:240px;
       }

       .tab1
       {
           display:inline-flex;
           flex-grow:1;
           border-top-right-radius: 20px;
           border-top-left-radius: 20px;
           border-bottom-left-radius: 0;
           position:relative;
           left:60px; 
       }
       
       .tablette
       {
           padding-right:40px;
       }
       
       .fontab2
       {
           width: 340px;
           height: 100px;
           position: absolute;
           left:60px;
       }
       
       
       .titrehotel3
       {
           font-size: 16px;
           width: 220px;
           margin:0px;
           padding:0px;
           font-weight: bolder;
           position: relative;
           left:20px;
           top:10px;
       }
       
       
       .soustitre3
       {
           font-size:16px;
           margin:0px;
           padding:0px;
           padding-left:20px;
           font-weight: lighter;
           position: relative;
           top:20px;
       }
       
       .taby
       {
         position:relative;
         top:8px;
       }
       
       .etoilex
       {
           position: relative;
           left:18px;
           top:30px;
       }
       
       .etoiley
       {
           position: relative;
           left:18px;
           top:13px;
       }
       
       .etoilez
       {
         position: relative;
         left:18px;
         top:30px;
         }
       
       
       /*Travail sur la Partie Activités à Marseille*/
       
       #activitemarseille
       {
           flex-grow: 1;
           width:1200px;
           height: 620px;
           box-sizing: border-box;
           margin:0;
           padding:0;
           Position:relative;
           left:30px;
           background-color: #F2F2F2;
           border-radius: 20px;
       }
       
       
       .grostitre3
       {
           font-size: 20px;
           position: relative;
           left:-3px;
           top:10px;
       }
       
       
       .conteneur
       {
           flex-direction: column;
       }
       
       
       /*Travail sur le Bloc1*/
       
       .bloc1
       {
           align-items: baseline;
           position:relative;
           left:140px;
           
       }
       
       .bloc2
       {   
           position:relative;
           left:155px;
           bottom:10px;
       }
       
       .blocimage
       {
           flex-direction:row;
           position: relative;
           left:60px;
       }
       
       .blocimage2
       { 
          flex-direction: row;
          position:relative;
          left:60px;
       }
       
       .titreactivite1
       {
           width:325px;
           font-size: 16px;
           position: relative;
           top:140px;
          
       }
       
       .activimage1
       {
           width: 260px;
           height: 185px;   
           padding-right: 15px; 
       }
       
       
       .activite1
       {
           width: 340px;
           height: 185px; 
       }
       
       
       /*division du bloc1*/
       
       .titreactivite2
       {
           width: 325px;
           font-size: 16px;
           position: relative;
           top:140px;
           
       }
       
       .activimage2
       { 
           padding-right:120px;
           position:relative;
           right:5px ; 
       }
       
       
       .activite2
       {
           width: 340px;
           height: 185px; 
       }
       
       .titreactivite3
       {
           width: 325px;
           font-size: 16px;
           position: relative;
           top:135px;
           left:0px;  
       }
       
       .activite3
       {
           width: 340px;
           height: 180px;
           position: relative;
           bottom:105px;
       }
       
       
       /*Travail sur le Bloc2 */
       
       
       .titreactivite4
       {
           width:325px;
           font-size: 16px;
           position: relative;
           top:145px;
       }
       
       
       .activimage4
       {
           padding-right:15px;
       }
       
       
       .activite4
       {
           width: 340px;
           height: 185px;
       }
       
       /*division du bloc2*/
       
       .titreactivite5
       {
           width:325px;
           font-size:16px;
           position: relative;
           top:140px;
           left:-5px;
       }
       
       
       .activimage5
       {
           padding-right:90px;
       }
       
       .activite5
       {
           width: 340px;
           height: 185px;
           position:relative;
           right:5px ;
       }
       
       
       .titreactivite6
       {
           width:325px;
           font-size: 16px;
           position: relative;
           top:195px;
           left:0px;
       }
       
       
       .activimage6
       {
           position:relative;
           left: 35px;
           bottom:60px;
       }
       
       
       .activite6
       {
           width:340px;
           height:185px;
       }
       
       
       
       /*Travail sur le Footer, il y a 3 Bloc*/
       
       .footer
       {
           width: 1200px;
           box-sizing: border-box;
           height: 210px;
           border-radius: 20px;
           margin:0;
           padding:0;
           padding-top: 10px;
           align-items: baseline;
           justify-content: center;
           position: relative;
           top:100px; 
           left:30px;
        
       }
       
       
       /*Travail sur les Titres*/
       
       .titrefooter
       {
           font-size: 18px;
           flex-direction: row;
          
       }
       
       
       /*Travail sur les Bloc 1*/
       
       
       .apropos
       {
           width:325px;
           position: relative;
           top:5px;
           right:45px; 
          
       }
       
       
       /*Travail sur le Bloc 2*/
       
       .noshebergements
       {
           width: 325px;
           height: 200px;
           position: relative;
           top:5px;
           right:15px;
          
       }
       
       
       /*Travail sur le Bloc 3*/
       
       .assistance
       {
           width:350px;
           height: 200px;
           position: relative;
           top:5px;
           left:45px;
        
       }
       
       }
   
   
   









/******************************************************************************TAILLE ECRAN TABLETTE LARGEUR MAXIMUM 1024PX**************************/




@media only screen and (min-width:768px) and (max-width:960px) and (orientation:landscape) { /*Taille écran Tablette (768X1024)*/

body 
{
    background-color: yellow;
}

/*travail sur la balise H1 et le paragraphe ci-dessous*/

h1
{
    font-size: large;
    padding-left: 30px;
}

h1 + p
{
    font-size: 18px;
    position: relative;
    bottom: 10px;
    margin-bottom: 20px;
    padding-left: 30px;
}

.tabpositionh1
{
  font-size: 20px;
  position: relative;
  top:20px;
}

.tabpositionp
{
  position: relative;
  top:10px;
  padding-bottom: 20px;
}


/*Travail sur les Filtres*/


.filtre /*toutes ma colonne de filtres*/
{
    display: flex;
    align-items: baseline;
    justify-content: center;
    justify-content: space-between;
    font-size: 10px;
    margin:0;
    padding: 0;
    padding-left: 35px;
    padding-top: 30px;
    width:850px;
    height: 70px;
}

.F1{
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
}


.F2 /*ma bordure de filtre*/
{
    border: 2px solid #F2F2F2;
    height: 50px;
    border-radius: 30px;
    margin:0;
    display: flex;
    align-items:flex-start;
    justify-content: space-between; 
}


.iconefiltres
{
    border-radius: 30px;
    font-size: 25px;
    width: 45px;
    height: 40px;
    margin:0px;
    padding: 0px;
    color: #0065FC;
    background-color:#F2F2F2 ;
    display: flex;
    align-items: center;
    padding-left: 17px;
    padding-top: 10px;
    
}

.recadre
{
  position:relative;
  top:5px;
}

.recadre1
{
    font-size:30px;
    margin: 0;
    position: relative;
    left:0px;
}

.ftext
{
    font-size: 17px;
    font-weight: bolder;
    display: flex;
    padding-right:10px;
    padding-left:10px;
    padding-top:15px;
    
}

.ftext:hover
{
    color: #0065FC;
    text-transform:none;
}

/*travail sur l'info 500 logements*/

.infopositionp
{
  font-size: 18px;
}


/*effet de la ligne bleu sur la navigation*/

.pose1
{
    position:relative;
    left: 420px;
} 

  
/*Travail sur le Main=contenue de la page"*/

#hebergementmarseille
{
    display: block;
    align-items: center;
    justify-content: center;
  
    width: 930px;
   
    
}

.blochebergement
{
    flex-grow:1;
    width:890px;
    height: 730px;
    display: block;
    flex-direction: column;
    align-items:baseline;
    background-color:#F2F2F2;
    margin:0px;
    padding: 0px;
    margin-bottom: 40px;
    border-radius: 20px;
    Position:relative;
    left:10px;
}

.blocpopulaire
{
    width:890px;
    height:400px;
    margin:0;
    padding:0;
    background-color: #F2F2F2;
    box-sizing:content-box;
    border-radius: 20px;
    display: block;
    flex-direction: row;
    Position:relative;
    left:10px;
    flex-grow:1; 
}

.grostitre1
{
    font-size: 28px;
    display: flex;
    align-items: center;
    position:relative;
    left:220px;
    top:20px;
}


.grostitre2
{
    font-size: 28px;
    display: flex;
    margin:0;
    
}

/*travail sur les colognes 1 et 2, partie hébergement à Marseille */

.titrehotel1
{
    font-size: 15px;
}

.soustitre1
{
    font-size: 15px;
}

.titrehotel2
{
    font-size: 15px;
    padding-bottom: 5px;
}

.soustitre2
{
    font-size: 15px;
    padding-bottom: 5px;
}
.cologne1

{
position: relative;
top:5px;
    
}


.positionimg2, .fondpose2
{
    position:relative;
    right: 15px;
}

.positionimg3, .fondpose3
{
    position: relative;
    right:30px;
}

.cologne2
{
    position:relative;
    top:5px;
}
.posimg4, .fondpose4
{
    position:relative;
    left: -15px;
}

.posimg5, .fondpose5
{
    position:relative;
    left:-30px;
}

.plus
{
    position:relative;
    top:20px;
}

/*positionnement de l'icone chart sur le bloc les plus populaires*/

.positionicon

{
    display:flex;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
    left:250px;
}

.iconechart
{
    font-size: 22px;
    padding-left:50px;
}


/*Travail sur la partie les plus populaires*/

.photo2
{
    display:inline-flex;
    justify-content: space-around;
    flex-grow:1;
    width: 290px;
    height: 240px;
    margin:0px;
    padding:0px; 
    position: relative;
    right: 15px;
}



.tab1
{
    display:block;
    align-items:baseline;
    justify-content: space-around;
    width:250px ;
    height: 185px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0;
    position:relative;
    left:20px;
    border:5px solid white;  
}



.fond3
{
    background-color:white;
    width: 260px;
    height: 100px;
    flex-grow:1;
    margin:0px;
    padding:0px;
    display: flex;
    border:none;
    border-top-right-radius:0;
    border-bottom-left-radius: 20px;
    position:absolute;
    left:35px;
    bottom:-30px;
    z-index: 1;
}


.titrehotel3
{
    font-size: 15px;
    width: 220px;
    margin:0px;
    padding:0px;
    font-weight: bolder;
    position: relative;
    left:20px;
    top:10px;
  
}


.soustitre3
{
    font-size:16px;
    margin:0px;
    padding:0px;
    padding-left:20px;
    font-weight: lighter;
    position: relative;
    top:20px;
}

.taby
{
  position:relative;
  top:8px;
}




.etoilex
{
    position: relative;
    left:18px;
    top:30px;
}

.etoiley
{
    position: relative;
    left:18px;
    top:13px;
}

.etoilez
{
  position: relative;
  left:18px;
  top:30px;
  }


/*Travail sur la Partie Activités à Marseille*/

#activitemarseille
{
    flex-grow: 1;
    width:890px;
    height: 620px;
    box-sizing: border-box;
    margin:0;
    padding:0;
    Position:relative;
    left:30px;
    background-color: #F2F2F2;
    border-radius: 20px;
}


.grostitre3
{
    font-size: 20px;
    position: relative;
    left:-3px;
    top:10px;
}


.conteneur
{
    flex-direction: column;
}


/*Travail sur le Bloc1*/

.bloc1
{
    align-items: baseline;
    position:relative;
    left:80px;
}

.bloc2
{   
    position:relative;
    left:95px;
    bottom:10px;
}

.blocimage
{
    flex-direction:row;
    position: relative;
    left:-25px;
}

.blocimage2
{ 
   flex-direction: row;
   position:relative;
   left:-25px;
}

.titreactivite1
{
    width: 236px;
    font-size: 16px;
    position: relative;
    top:140px;
    left:0px;
    border-color:white; 
}

.activimage1
{
    width: 260px;
    height: 185px;    
}


.activite1
{
    width: 250px;
    height: 185px; 
}


/*division du bloc1*/

.titreactivite2
{
    width: 236px;
    font-size: 16px;
    position: relative;
    top:140px;
    left:0px;
    border-color:white; 
}

.activimage2
{
    width:260px;
    height:185px; 
    padding-right:30px;
   
}


.activite2
{
    width: 250px;
    height: 185px; 
}

.titreactivite3
{
    width: 236px;
    font-size: 16px;
    position: relative;
    top:135px;
    left:0px;
    border-color:white; 
}

.activimage3
{
    width: 250px;
    height: 185px;  
}

.activite3
{
    width: 250px;
    height: 180px;
    position: relative;
    bottom:105px;
}



/*Travail sur le Bloc2 */


.titreactivite4
{
   
    width: 236px;
    font-size: 16px;
    position: relative;
    top:145px;
    left:-10px;
    border-color:white; 
}


.activimage4
{
    width: 250px;
    height: 185px;
    
    
}


.activite4
{
    width: 250px;
    height: 185px;
}



/*division du bloc2*/




.titreactivite5
{
    
    width: 236px;
    font-size: 16px;
    position: relative;
    top:140px;
    left:0px;
    border-color:white; 
}


.activimage5
{
    width: 250px;
    height: 185px;
    
}

.activite5
{
    width: 250px;
    height: 185px;
   
}


.titreactivite6
{
    
    width: 236px;
    font-size: 16px;
    position: relative;
    top:195px;
    left:0px;
    border-color:white; 
}


.activimage6
{
    width: 250px;
    height: 185px;
    position:relative;
    left: 35px;
    bottom:60px;
}


.activite6
{
    width: 250px;
    height: 185px;
    
}



/*Travail sur le Footer, il y a 3 Bloc*/

.footer
{
    width: 890px;
    box-sizing: border-box;
    height: 210px;
    border-radius: 20px;
    margin:0;
    padding:0;
    padding-top: 10px;
    align-items: baseline;
    justify-content: center;
    position: relative;
    top:100px; 
    left:30px;
 
}


/*Travail sur les Titres*/

.titrefooter
{
    font-size: 18px;
    flex-direction: row;
}


/*Travail sur les Bloc 1*/


.apropos
{
    width:290px;
    position: relative;
    top:5px;
    right:60px; 
   
}


/*Travail sur le Bloc 2*/

.noshebergements
{
    width: 200px;
    height: 200px;
    position: relative;
    top:5px;
    right:30px;
   
}


/*Travail sur le Bloc 3*/

.assistance
{
    width: 200px;
    height: 200px;
    position: relative;
    top:5px;
    left:45px;
 
}

}


