@media (min-width:1025px) and (max-width:1280px)

{
    
body 
{
    background-color:chartreuse;
    overflow-x: hidden;
    justify-content: center;
    padding-left:20px;
    
}



/*Travail sur les Filtres*/


.filtre /*toutes ma colonne de filtres*/
{
    display: flex;
    align-items: baseline;
    justify-content: center;
    justify-content: space-between;
    font-size: 10px;
    margin:0;
    padding: 0;
    padding-left: 35px;
    padding-top: 30px;
    width:850px;
    height: 70px;
}

.F1{
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
}


.F2 /*ma bordure de filtre*/
{
    border: 2px solid #F2F2F2;
    height: 50px;
    border-radius: 30px;
    margin:0;
    display: flex;
    align-items:flex-start;
    justify-content: space-between; 
}


.iconefiltres
{
    border-radius: 30px;
    font-size: 25px;
    width: 45px;
    height: 40px;
    margin:0px;
    padding: 0px;
    color: #0065FC;
    background-color:#F2F2F2 ;
    display: flex;
    align-items: center;
    padding-left: 17px;
    padding-top: 10px;
    
}

.recadre
{
  position:relative;
  top:5px;
}

.recadre1
{
    font-size:30px;
    margin: 0;
    position: relative;
    left:0px;
}

.ftext
{
    font-size: 17px;
    font-weight: bolder;
    display: flex;
    padding-right:10px;
    padding-left:10px;
    padding-top:15px;
    
}

.ftext:hover
{
    color: #0065FC;
    text-transform:none;
}



/*travail sur l'info 500 logements*/

.infopositionp
{
  font-size: 18px;
}


/*effet de la ligne bleu sur la navigation*/

.pose1
{
    position:relative;
    left:720px;
} 

  
/*Travail sur le Main=contenue de la page"*/

#hebergementmarseille
{
    display: block;
    align-items: center;
    justify-content: center;
    padding:0;
    margin:0;
    width:1180px;
    position: relative;
    left: 20px;
}

.blochebergement
{
    flex-grow:1;
    width:1160px;
    height:780px;
    display: block;
    flex-direction: column;
    align-items:baseline;
    background-color:#F2F2F2;
    margin:0px;
    padding: 0px;
    margin-bottom: 40px;
    border-radius: 20px;
    Position:relative;
    left:10px;
}

.blocpopulaire
{
    width:1160px;
    height:430px;
    margin:0;
    padding:0;
    background-color: #F2F2F2;
    box-sizing:content-box;
    border-radius: 20px;
    display: block;
    flex-direction: row;
    Position:relative;
    left:10px;
    flex-grow:1; 
}

.grostitre1
{
    font-size:28px;
    display: flex;
    align-items: center;
    padding-bottom: 40px;
    position:relative;
    left:360px;
    top:40px;
}


.grostitre2
{
    font-size: 28px;
    display: flex;
    margin:0;
    position:relative;
    left:150px;
    
}

/*travail sur les colognes 1 et 2, partie hébergement à Marseille */

.titrehotel1
{
    font-size: 15px;
}

.soustitre1
{
    font-size: 15px;
}

.titrehotel2
{
    font-size: 15px;
    padding-bottom: 5px;
}

.soustitre2
{
    font-size: 15px;
    padding-bottom: 5px;
}

.cologne1
{
position: relative;
top:20px;
left:90px;
    
}

.positionimg1, .positionimg2, .positionimg3
{
    width:330px;
    height:185px;
}

.posimge3, .posimg4, .posimg5
{
    width: 330px;
    height: 185px;
}

.fondpose1, .fondpose2, .fondpose3
{
    width:340px;
    position:relative;
    bottom:20px;
}

.fondpos3, .fondpose4, .fondpose5
{
    width:330px;
    position: relative;
    bottom:20px;
}

.positionimg2, .fondpose2
{
    position:relative;
    left:28px;
    
}

.positionimg3, .fondpose3
{
    position: relative;
    left:55px;
}

.cologne2
{
    position:relative;
    top:15px;
    left:90px;
}

.posimg4, .fondpose4
{
    position:relative;
    left:28px;
}

.posimg5, .fondpose5
{
    position:relative;
    left:55px;
}

.plus
{
    position:relative;
    top:80px;
    left:45px;
  
}

/*positionnement de l'icone chart sur le bloc les plus populaires*/

.positionicon

{
    display:flex;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
    left:250px;
}

.iconechart
{
    font-size: 22px;
    padding-left:50px;
    position: relative;
    left:120px;
}


/*Travail sur la partie les plus populaires*/

.photo2
{
    display:inline-flex;
    justify-content: space-around;
    flex-grow:1;
    width:330px;
    height: 240px;
    margin:0px;
    padding:0px; 
    position: relative;
    left:34px;
}



.tab1
{
    display:block;
    align-items:baseline;
    justify-content: space-around;
    width:330px ;
    height: 185px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0;
    position:relative;
    left:20px;
    border:5px solid white;  
}

.tablette1, .tablette2
{
    padding-right:25px;
}


.fond3
{
    background-color:white;
    width:330px;
    height:100px;
    flex-grow:1;
    margin:0px;
    padding:0px;
    display: flex;
    border:none;
    border-top-right-radius:0;
    border-bottom-left-radius: 20px;
    position:absolute;
    left:20px;
    bottom:-30px;
    z-index: 1;
}


.titrehotel3
{
    font-size: 15px;
    width: 220px;
    margin:0px;
    padding:0px;
    font-weight: bolder;
    position: relative;
    left:20px;
    top:10px;
  
}


.soustitre3
{
    font-size:16px;
    margin:0px;
    padding:0px;
    padding-left:20px;
    font-weight: lighter;
    position: relative;
    top:20px;
}

.taby
{
  position:relative;
  top:8px;
}




.etoilex
{
    position: relative;
    left:18px;
    top:30px;
}

.etoiley
{
    position: relative;
    left:18px;
    top:13px;
}

.etoilez
{
  position: relative;
  left:18px;
  top:30px;
  }


/*Travail sur la Partie Activités à Marseille*/

#activitemarseille
{
    flex-grow: 1;
    width:1160px;
    height: 620px;
    box-sizing: border-box;
    margin:0;
    padding:0;
    Position:relative;
    left:30px;
    background-color: #F2F2F2;
    border-radius: 20px;
}


.grostitre3
{
    font-size: 20px;
    position: relative;
    left:440px;
    top:10px;
}


.conteneur
{
    flex-direction: column;
}


/*Travail sur le Bloc1*/

.bloc1
{
    align-items: baseline;
    position:relative;
    left:85px;
}

.bloc2
{   
    position:relative;
    left:95px;
    bottom:10px;
}

.blocimage
{
    flex-direction:row;
    position:relative;
    left:-35px;
}

.blocimage2
{ 
   flex-direction: row;
   position:relative;
   left:-20px;
}

.titreactivite1
{
    width:316px;
    font-size: 16px;
    position: relative;
    top:140px;
    left:0px;
    border-color:white; 
}

.activimage1
{
    width:330px;
    height: 185px;    
}


.activite1
{
    width:330px;
    height: 185px; 
}


/*division du bloc1*/

.titreactivite2
{
    width:316px;
    font-size: 16px;
    position: relative;
    top:140px;
    left:30px;
    border-color:white; 
}

.activimage2
{
    width:330px;
    height:185px; 
    
   
}


.activite2
{
    width:330px;
    height:185px; 
    position:relative;
    left:30px;
}

.titreactivite3
{
    width:316px;
    font-size: 16px;
    position: relative;
    top:135px;
    left:75px;
    border-color:white; 
}

.activimage3
{
    width: 250px;
    height: 185px;  
}

.activite3
{
    width:330px;
    height: 180px;
    position: relative;
    left:75px;
    bottom:105px;
}



/*Travail sur le Bloc2 */


.titreactivite4
{
   
    width:316px;
    font-size:16px;
    position: relative;
    top:145px;
    left:-10px;
    border-color:white; 
}


.activimage4
{
    width:330px;
    height:185px;
}


.activite4
{
    width:330px;
    height: 185px;
}



/*division du bloc2*/




.titreactivite5
{
    
    width:316px;
    font-size:16px;
    position: relative;
    top:140px;
    left:5px;
    border-color:white; 
}


.activimage5
{
    width:330px;
    height: 185px;
    
}

.activite5
{
    width:330px;
    height: 185px;
    position:relative;
    left:5px;
   
}


.titreactivite6
{
    
    width:316px;
    font-size: 16px;
    position: relative;
    top:195px;
    left:0px;
    border-color:white; 
}


.activimage6
{
    width:330px;
    height: 185px;
    position:relative;
    left:50px;
    bottom:60px;
}


.activite6
{
    width:330px;
    height: 185px;
}



/*Travail sur le Footer, il y a 3 Bloc*/

.footer
{
    width:1160px;
    box-sizing: border-box;
    height: 210px;
    border-radius: 20px;
    margin:0;
    padding:0;
    padding-top: 10px;
    align-items: baseline;
    justify-content: center;
    position: relative;
    top:100px; 
    left:30px;
 
}


/*Travail sur les Titres*/

.titrefooter
{
    font-size: 18px;
    flex-direction: row;
}


/*Travail sur les Bloc 1*/


.apropos
{
    width:290px;
    height:160px;
    position: relative;
    top:10px;
    right:190px; 
   
}


/*Travail sur le Bloc 2*/

.noshebergements
{
    width: 200px;
    height: 160px;
    position: relative;
    top:10px;
    right:100px;
   
}


/*Travail sur le Bloc 3*/

.assistance
{
    width: 200px;
    height: 160px;
    position: relative;
    top:10px;
    left:45px;
 
}

}









/*************************************************************************************************************************************************/



@media (min-width:992px) and (max-width:1024px)

{

body 
{
    background-color:pink;
    overflow-x: hidden;
    justify-content: center;
    padding-left:20px;
    
}

/*Travail sur les Filtres*/


.filtre /*toutes ma colonne de filtres*/
{
    display: flex;
    align-items: baseline;
    justify-content: center;
    justify-content: space-between;
    font-size: 10px;
    margin:0;
    padding: 0;
    padding-left: 35px;
    padding-top: 30px;
    width:850px;
    height: 70px;
}

.F1{
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
}


.F2 /*ma bordure de filtre*/
{
    border: 2px solid #F2F2F2;
    height: 50px;
    border-radius: 30px;
    margin:0;
    display: flex;
    align-items:flex-start;
    justify-content: space-between; 
}


.iconefiltres
{
    border-radius: 30px;
    font-size: 25px;
    width: 45px;
    height: 40px;
    margin:0px;
    padding: 0px;
    color: #0065FC;
    background-color:#F2F2F2 ;
    display: flex;
    align-items: center;
    padding-left: 17px;
    padding-top: 10px;
    
}

.recadre
{
  position:relative;
  top:5px;
}

.recadre1
{
    font-size:30px;
    margin: 0;
    position: relative;
    left:0px;
}

.ftext
{
    font-size: 17px;
    font-weight: bolder;
    display: flex;
    padding-right:10px;
    padding-left:10px;
    padding-top:15px;
    
}

.ftext:hover
{
    color: #0065FC;
    text-transform:none;
}

/*travail sur l'info 500 logements*/

.infopositionp
{
  font-size: 18px;
}


/*effet de la ligne bleu sur la navigation*/

.pose1
{
    position:relative;
    left: 420px;
} 

  
/*Travail sur le Main=contenue de la page"*/

#hebergementmarseille
{
    display: block;
    align-items: center;
    justify-content: center;
    padding:0;
    margin:0;
    width:910px;
    position: relative;
    left: 20px;
    
}

.blochebergement
{
    flex-grow:1;
    width:890px;
    height: 730px;
    display: block;
    flex-direction: column;
    align-items:baseline;
    background-color:#F2F2F2;
    margin:0px;
    padding: 0px;
    margin-bottom: 40px;
    border-radius: 20px;
    Position:relative;
    left:10px;
}

.blocpopulaire
{
    width:890px;
    height:400px;
    margin:0;
    padding:0;
    background-color: #F2F2F2;
    box-sizing:content-box;
    border-radius: 20px;
    display: block;
    flex-direction: row;
    Position:relative;
    left:10px;
    flex-grow:1; 
}

.grostitre1
{
    font-size: 28px;
    display: flex;
    align-items: center;
    position:relative;
    left:220px;
    top:30px;
}


.grostitre2
{
    font-size: 28px;
    display: flex;
    margin:0;
    
}

/*travail sur les colognes 1 et 2, partie hébergement à Marseille */

.titrehotel1
{
    font-size: 15px;
}

.soustitre1
{
    font-size: 15px;
}

.titrehotel2
{
    font-size: 15px;
    padding-bottom: 5px;
}

.soustitre2
{
    font-size: 15px;
    padding-bottom: 5px;
}
.cologne1

{
position: relative;
top:20px;
    
}

.positionimg1, .positionimg2, .positionimg3
{
    width:250px;

}

.posimge3, .posimg4, .posimg5
{
    width: 250px;
}

.fondpose1, .fondpose2, .fondpose3
{
    width: 260px;
}

.fondpos3, .fondpose4, .fondpose5
{
    width: 250px;
}

.positionimg1, .fondpose1
{
    position: relative;
    left:5px;
}
.positionimg2, .fondpose2
{
    position:relative;
    right: 15px;
}

.positionimg3, .fondpose3
{
    position: relative;
    right:30px;
}

.cologne2
{
    position:relative;
    top:5px;
}
.posimg4, .fondpose4
{
    position:relative;
    left:-20px;
}

.posimg5, .fondpose5
{
    position:relative;
    left:-35px;
}

.plus
{
    position:relative;
    top:50px;
}

/*positionnement de l'icone chart sur le bloc les plus populaires*/

.positionicon

{
    display:flex;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
    left:250px;
}

.iconechart
{
    font-size: 22px;
    padding-left:50px;
}


/*Travail sur la partie les plus populaires*/

.photo2
{
    display:inline-flex;
    justify-content: space-around;
    flex-grow:1;
    width: 290px;
    height: 240px;
    margin:0px;
    padding:0px; 
    position: relative;
    right: 15px;
}



.tab1
{
    display:block;
    align-items:baseline;
    justify-content: space-around;
    width:250px ;
    height: 185px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0;
    position:relative;
    left:20px;
    border:5px solid white;  
}



.fond3
{
    background-color:white;
    width: 260px;
    height: 100px;
    flex-grow:1;
    margin:0px;
    padding:0px;
    display: flex;
    border:none;
    border-top-right-radius:0;
    border-bottom-left-radius: 20px;
    position:absolute;
    left:35px;
    bottom:-30px;
    z-index: 1;
}


.titrehotel3
{
    font-size: 15px;
    width: 220px;
    margin:0px;
    padding:0px;
    font-weight: bolder;
    position: relative;
    left:20px;
    top:10px;
  
}


.soustitre3
{
    font-size:16px;
    margin:0px;
    padding:0px;
    padding-left:20px;
    font-weight: lighter;
    position: relative;
    top:20px;
}

.taby
{
  position:relative;
  top:8px;
}




.etoilex
{
    position: relative;
    left:18px;
    top:30px;
}

.etoiley
{
    position: relative;
    left:18px;
    top:13px;
}

.etoilez
{
  position: relative;
  left:18px;
  top:30px;
  }


/*Travail sur la Partie Activités à Marseille*/

#activitemarseille
{
    flex-grow: 1;
    width:890px;
    height: 620px;
    box-sizing: border-box;
    margin:0;
    padding:0;
    Position:relative;
    left:30px;
    background-color: #F2F2F2;
    border-radius: 20px;
}


.grostitre3
{
    font-size: 20px;
    position: relative;
    left:310px;
    top:10px;
}


.conteneur
{
    flex-direction: column;
}


/*Travail sur le Bloc1*/

.bloc1
{
    align-items: baseline;
    position:relative;
    left:80px;
}

.bloc2
{   
    position:relative;
    left:95px;
    bottom:10px;
}

.blocimage
{
    flex-direction:row;
    position: relative;
    left:-25px;
}

.blocimage2
{ 
   flex-direction: row;
   position:relative;
   left:-25px;
}

.titreactivite1
{
    width: 236px;
    font-size: 16px;
    position: relative;
    top:140px;
    left:5px;
    border-color:white; 
}

.activimage1
{
    width: 260px;
    height: 185px;    
}


.activite1
{
    width: 250px;
    height: 185px; 
    position:relative;
    left:5px;
}


/*division du bloc1*/

.titreactivite2
{
    width: 236px;
    font-size: 16px;
    position: relative;
    top:140px;
    left:5px;
    border-color:white; 
}

.activimage2
{
    width:260px;
    height:185px; 
    padding-right:30px;
   
}


.activite2
{
    width: 250px;
    height: 185px; 
    position: relative;
    left:5px;
}

.titreactivite3
{
    width: 236px;
    font-size: 16px;
    position: relative;
    top:135px;
    left:0px;
    border-color:white; 
}

.activimage3
{
    width: 250px;
    height: 185px;  
}

.activite3
{
    width: 250px;
    height: 180px;
    position: relative;
    bottom:105px;
}



/*Travail sur le Bloc2 */


.titreactivite4
{
   
    width: 236px;
    font-size: 16px;
    position: relative;
    top:145px;
    left:-10px;
    border-color:white; 
}


.activimage4
{
    width: 250px;
    height: 185px;
    
    
}


.activite4
{
    width: 250px;
    height: 185px;
}



/*division du bloc2*/




.titreactivite5
{
    
    width: 236px;
    font-size: 16px;
    position: relative;
    top:140px;
    left:0px;
    border-color:white; 
}


.activimage5
{
    width: 250px;
    height: 185px;
    
}

.activite5
{
    width: 250px;
    height: 185px;
   
}


.titreactivite6
{
    
    width: 236px;
    font-size: 16px;
    position: relative;
    top:195px;
    left:0px;
    border-color:white; 
}


.activimage6
{
    width: 250px;
    height: 185px;
    position:relative;
    left: 35px;
    bottom:60px;
}


.activite6
{
    width: 250px;
    height: 185px;
    
}



/*Travail sur le Footer, il y a 3 Bloc*/

.footer
{
    width: 890px;
    box-sizing: border-box;
    height: 210px;
    border-radius: 20px;
    margin:0;
    padding:0;
    padding-top: 10px;
    align-items: baseline;
    justify-content: center;
    position: relative;
    top:80px; 
    left:30px;
 
}


/*Travail sur les Titres*/

.titrefooter
{
    font-size: 18px;
    flex-direction: row;
}


/*Travail sur les Bloc 1*/


.apropos
{
    width:290px;
    height: 160px;
    position: relative;
    top:5px;
    right:60px; 
   
}


/*Travail sur le Bloc 2*/

.noshebergements
{
    width: 200px;
    height: 160px;
    position: relative;
    top:5px;
    right:30px;
   
}


/*Travail sur le Bloc 3*/

.assistance
{
    width: 200px;
    height: 160px;
    position: relative;
    top:5px;
    left:45px;
  
}

}





/******************************************************************************TAILLE ECRAN TABLETTE LARGEUR MAXIMUM 1024PX**************************/




@media (min-width:945px) and (max-width:991px)  { /*Taille écran Tablette (768X1024)*/

body 
{
    background-color:orange;
    
}


/*Travail sur les Filtres*/


.filtre /*toutes ma colonne de filtres*/
{
    display: flex;
    align-items: baseline;
    justify-content: center;
    justify-content: space-between;
    font-size: 10px;
    margin:0;
    padding: 0;
    padding-left: 35px;
    padding-top: 30px;
    width:850px;
    height: 70px;
}

.F1{
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
}


.F2 /*ma bordure de filtre*/
{
    border: 2px solid #F2F2F2;
    height: 50px;
    border-radius: 30px;
    margin:0;
    display: flex;
    align-items:flex-start;
    justify-content: space-between; 
}


.iconefiltres
{
    border-radius: 30px;
    font-size: 25px;
    width: 45px;
    height: 40px;
    margin:0px;
    padding: 0px;
    color: #0065FC;
    background-color:#F2F2F2 ;
    display: flex;
    align-items: center;
    padding-left: 17px;
    padding-top: 10px;
    
}

.recadre
{
  position:relative;
  top:5px;
}

.recadre1
{
    font-size:30px;
    margin: 0;
    position: relative;
    left:0px;
}

.ftext
{
    font-size: 17px;
    font-weight: bolder;
    display: flex;
    padding-right:10px;
    padding-left:10px;
    padding-top:15px;
    
}

.ftext:hover
{
    color: #0065FC;
    text-transform:none;
}

/*travail sur l'info 500 logements*/

.infopositionp
{
  font-size: 18px;
}


/*effet de la ligne bleu sur la navigation*/

.pose1
{
    position:relative;
    left: 420px;
} 

  
/*Travail sur le Main=contenue de la page"*/

#hebergementmarseille
{
    display: block;
    align-items: center;
    justify-content: center;
    padding:0;
    margin:0;
    width:910px;
    position: relative;
    left: 20px;
    
}

.blochebergement
{
    flex-grow:1;
    width:890px;
    height: 730px;
    display: block;
    flex-direction: column;
    align-items:baseline;
    background-color:#F2F2F2;
    margin:0px;
    padding: 0px;
    margin-bottom: 40px;
    border-radius: 20px;
    Position:relative;
    left:10px;
}

.blocpopulaire
{
    width:890px;
    height:400px;
    margin:0;
    padding:0;
    background-color: #F2F2F2;
    box-sizing:content-box;
    border-radius: 20px;
    display: block;
    flex-direction: row;
    Position:relative;
    left:10px;
    flex-grow:1; 
}

.grostitre1
{
    font-size: 28px;
    display: flex;
    align-items: center;
    position:relative;
    left:230px;
    top:30px;
}


.grostitre2
{
    font-size: 28px;
    display: flex;
    margin:0;
    
}

/*travail sur les colognes 1 et 2, partie hébergement à Marseille */

.titrehotel1
{
    font-size: 15px;
}

.soustitre1
{
    font-size: 15px;
}

.titrehotel2
{
    font-size: 15px;
    padding-bottom: 5px;
}

.soustitre2
{
    font-size: 15px;
    padding-bottom: 5px;
}
.cologne1

{
position: relative;
top:20px;
    
}

.positionimg1, .positionimg2, .positionimg3
{
    width:250px;

}

.posimge3, .posimg4, .posimg5
{
    width: 250px;
}

.fondpose1, .fondpose2, .fondpose3
{
    width: 260px;
}

.fondpos3, .fondpose4, .fondpose5
{
    width: 250px;
}

.positionimg1, .fondpose1
{
    position: relative;
    left:5px;
}
.positionimg2, .fondpose2
{
    position:relative;
    right: 15px;
}

.positionimg3, .fondpose3
{
    position: relative;
    right:30px;
}

.cologne2
{
    position:relative;
    top:5px;
}
.posimg4, .fondpose4
{
    position:relative;
    left:-20px;
}

.posimg5, .fondpose5
{
    position:relative;
    left:-35px;
}

.plus
{
    position:relative;
    top:50px;
}

/*positionnement de l'icone chart sur le bloc les plus populaires*/

.positionicon

{
    display:flex;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 20px;
    position: relative;
    left:250px;
}

.iconechart
{
    font-size: 22px;
    padding-left:50px;
}


/*Travail sur la partie les plus populaires*/

.photo2
{
    display:inline-flex;
    justify-content: space-around;
    flex-grow:1;
    width: 290px;
    height: 240px;
    margin:0px;
    padding:0px; 
    position: relative;
    right: 15px;
}



.tab1
{
    display:block;
    align-items:baseline;
    justify-content: space-around;
    width:250px ;
    height: 185px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0;
    position:relative;
    left:20px;
    border:5px solid white;  
}



.fond3
{
    background-color:white;
    width: 260px;
    height: 100px;
    flex-grow:1;
    margin:0px;
    padding:0px;
    display: flex;
    border:none;
    border-top-right-radius:0;
    border-bottom-left-radius: 20px;
    position:absolute;
    left:35px;
    bottom:-30px;
    z-index: 1;
}


.titrehotel3
{
    font-size: 15px;
    width: 220px;
    margin:0px;
    padding:0px;
    font-weight: bolder;
    position: relative;
    left:20px;
    top:10px;
  
}


.soustitre3
{
    font-size:16px;
    margin:0px;
    padding:0px;
    padding-left:20px;
    font-weight: lighter;
    position: relative;
    top:20px;
}

.taby
{
  position:relative;
  top:8px;
}




.etoilex
{
    position: relative;
    left:18px;
    top:30px;
}

.etoiley
{
    position: relative;
    left:18px;
    top:13px;
}

.etoilez
{
  position: relative;
  left:18px;
  top:30px;
  }


/*Travail sur la Partie Activités à Marseille*/

#activitemarseille
{
    flex-grow: 1;
    width:890px;
    height: 620px;
    box-sizing: border-box;
    margin:0;
    padding:0;
    Position:relative;
    left:30px;
    background-color: #F2F2F2;
    border-radius: 20px;
}


.grostitre3
{
    font-size: 20px;
    position: relative;
    left:310px;
    top:10px;
}


.conteneur
{
    flex-direction: column;
}


/*Travail sur le Bloc1*/

.bloc1
{
    align-items: baseline;
    position:relative;
    left:80px;
}

.bloc2
{   
    position:relative;
    left:95px;
    bottom:10px;
}

.blocimage
{
    flex-direction:row;
    position: relative;
    left:-25px;
}

.blocimage2
{ 
   flex-direction: row;
   position:relative;
   left:-25px;
}

.titreactivite1
{
    width: 236px;
    font-size: 16px;
    position: relative;
    top:140px;
    left:5px;
    border-color:white; 
}

.activimage1
{
    width: 260px;
    height: 185px;    
}


.activite1
{
    width: 250px;
    height: 185px; 
    position:relative;
    left:5px;
}


/*division du bloc1*/

.titreactivite2
{
    width: 236px;
    font-size: 16px;
    position: relative;
    top:140px;
    left:5px;
    border-color:white; 
}

.activimage2
{
    width:260px;
    height:185px; 
    padding-right:30px;
   
}


.activite2
{
    width: 250px;
    height: 185px; 
    position: relative;
    left:5px;
}

.titreactivite3
{
    width: 236px;
    font-size: 16px;
    position: relative;
    top:135px;
    left:0px;
    border-color:white; 
}

.activimage3
{
    width: 250px;
    height: 185px;  
}

.activite3
{
    width: 250px;
    height: 180px;
    position: relative;
    bottom:105px;
}



/*Travail sur le Bloc2 */


.titreactivite4
{
   
    width: 236px;
    font-size: 16px;
    position: relative;
    top:145px;
    left:-10px;
    border-color:white; 
}


.activimage4
{
    width: 250px;
    height: 185px;
    
    
}


.activite4
{
    width: 250px;
    height: 185px;
}



/*division du bloc2*/




.titreactivite5
{
    
    width: 236px;
    font-size: 16px;
    position: relative;
    top:140px;
    left:0px;
    border-color:white; 
}


.activimage5
{
    width: 250px;
    height: 185px;
    
}

.activite5
{
    width: 250px;
    height: 185px;
   
}


.titreactivite6
{
    
    width: 236px;
    font-size: 16px;
    position: relative;
    top:195px;
    left:0px;
    border-color:white; 
}


.activimage6
{
    width: 250px;
    height: 185px;
    position:relative;
    left: 35px;
    bottom:60px;
}


.activite6
{
    width: 250px;
    height: 185px;
    
}



/*Travail sur le Footer, il y a 3 Bloc*/

.footer
{
    width: 890px;
    box-sizing: border-box;
    height: 210px;
    border-radius: 20px;
    margin:0;
    padding:0;
    padding-top: 10px;
    align-items: baseline;
    justify-content: center;
    position: relative;
    top:80px; 
    left:30px;
 
}


/*Travail sur les Titres*/

.titrefooter
{
    font-size: 18px;
    flex-direction: row;
}


/*Travail sur les Bloc 1*/


.apropos
{
    width:290px;
    height: 160px;
    position: relative;
    top:5px;
    right:60px; 
   
}


/*Travail sur le Bloc 2*/

.noshebergements
{
    width: 200px;
    height: 160px;
    position: relative;
    top:5px;
    right:30px;
   
}


/*Travail sur le Bloc 3*/

.assistance
{
    width: 200px;
    height: 160px;
    position: relative;
    top:5px;
    left:45px;
  
}

}



/*********************************************************************************************************************************************/


@media (min-width:791px) and (max-width:944px)


{

   
body 
{
    background-color: green;
    overflow-x: hidden;
    justify-content: center;
    padding-left:20px;
}

/*Travail sur les Filtres*/


.filtre /*toutes ma colonne de filtres*/
{
    
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size: 10px;
    margin:0px;
    padding:0;
    padding-top:20px;
    height: 70px;
    position:relative;
    left:30px;
}

.F1{
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
    position: relative;
    top:35px;
}


.F2 /*ma bordure de filtre*/
{
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    margin:0;
    display: flex;
    align-items:flex-start;
    justify-content: space-around; 
}


.iconefiltres
{
    border-radius: 30px;
    font-size: 25px;
    width: 45px;
    height: 40px;
    margin:0px;
    padding: 0px;
    color: #0065FC;
    background-color:#F2F2F2 ;
    display: flex;
    align-items: center;
    padding-left: 17px;
    padding-top: 10px;
    
}

.recadre
{
  position:relative;
  top:5px;

}

.recadre1
{
    font-size:30px;
    margin: 0;
    position: relative;
    left:0px;
}

.ftext
{
    font-size: 17px;
    font-weight: bolder;
    display: flex;
    padding-right:10px;
    padding-left:10px;
    padding-top:15px;
    
}

.ftext:hover
{
    color: #0065FC;
    text-transform:none;
}

.ftext2
{
    position:relative;
    left:15px;
}

.ftext3
{
    position: relative;
    left:30px;
}


.ftext4
{
    display:flex;
    position: relative;
    right:495px;
    top:70px;
    

}

/*travail sur l'info 500 logements*/

.info 
{
    padding-top: 10px;
    padding-bottom: 20px;
    position:relative;
    top:60px;
}
.infopositionp
{
  font-size: 18px;
}


/*effet de la ligne bleu sur la navigation*/

.pose1
{
    width:150px ;
    position:relative;
    left:280px;
} 

  
/*Travail sur le Main=contenue de la page"*/

#hebergementmarseille
{
    display: block;
    width:700px;
    box-sizing: content-box;
    padding:0;
    margin:0;
    padding-right:-30px;
    position: relative;
    left:20px;
    top:50px;
}

.blochebergement
{
    flex-grow:1;
    width:700px;
    height: 1030px;
    display: block;
    flex-direction: column;
    align-items:baseline;
    background-color:#F2F2F2;
    margin:0px;
    padding: 0px;
    margin-bottom: 40px;
    border-radius: 20px;
}

.blocpopulaire
{
    width:700px;
    height:400px;
    margin:0;
    padding:0;
    background-color: #F2F2F2;
    box-sizing:content-box;
    border-radius: 20px;

    
}

.grostitre1
{
    font-size: 28px;
    display: flex;
    padding-top:20px ;
    padding-bottom:50px;
    align-items: center;
    position:relative;
    left:120px;
    top:20px;
   
}


.grostitre2
{
    font-size: 28px;
    display: flex;
    padding-top:15px;
    padding-bottom:5px;
    position: relative;
    left:160px;
    
}


.iconechart
{
    font-size: 22px;
    padding-left:0px;
    position: relative;
    left:180px;
    
}

/*travail sur les colognes 1 et 2, partie hébergement à Marseille */





.positionimg1, .positionimg2, .positionimg3
{
    width:295px;
}

.posimge3, .posimg4, .posimg5
{
    width:295px;
}

.fondpose1, .fondpose2, .fondpose3
{
    width:305px;
}

.fondpos3, .fondpose4, .fondpose5
{
    width:295px;
}


.positionimg1
{
    position:relative;
    left:30px;
    top:30px;
}

.fondpose1
{
    position:relative;
    left:30px;
    bottom:10px;
}


.positionimg2
{
    position:relative;
    left:55px;
    top:30px;
}

.fondpose2
{
    position:relative;
    left:55px;
    bottom:10px;
}

.positionimg3
{
    position: relative;
    right:580px;
    top:310px;
}

.fondpose3
{
    
    position: relative;
    top:270px;
    right:580px;
    
}


.posimge3
{
    position: relative;
    left:360px;
    top:33px;
}

.fondpos3
{
    position: relative;
    bottom:25px;
    left:360px;
}



.posimg4
{
    position:relative;
    top:310px;
    left:-275px;
}


.fondpose4
{
    position:relative;
    top:260px;
    right:275px;
   
}

.posimg5
{
    position:relative;
    left:-250px;
    top:310px;
}


.fondpose5
{
    position:relative;
    right:250px;
    top:260px;
}

.plus
{
    position:relative;
    top:290px;
    right:15px;
    left:42px;
}

/*positionnement de l'icone chart sur le bloc les plus populaires*/


/*Travail sur la partie les plus populaires*/



.tab1
{
    align-items:baseline;
    width:200px;
    height:140px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0;
    position: relative;
    left: 125px; 
}

.fond3
{
    background-color:white;
    width:210px;
    height: 100px;
    margin:0px;
    padding:0px;
    display: flex;
    border:none;
    border-top-right-radius:0;
    border-bottom-left-radius: 20px;
    position: relative;
    left:-85px;
    top:0px;
    z-index: 1;
}

.tablette1
{
    position:relative;
    right:130px;
    top:15px;
}

.tablette2
{
    position:relative;
    left:95px;
    bottom:215px;
}

.tablette3
{
    position:relative;
    left:320px;
    bottom:445px;
}



.titrehotel3
{
    font-size: 14px;
    width: 220px;
    margin:0px;
    padding:0px;
    font-weight: bolder;
    position: relative;
    left:20px;
    top:10px;
}


.soustitre3
{
    font-size:16px;
    margin:0px;
    padding:0px;
    padding-left:20px;
    font-weight: lighter;
    position: relative;
    top:20px;
}

.taby
{
  position:relative;
  top:8px;
}



.etoilex
{
    position: relative;
    left:18px;
    top:30px;
}

.etoiley
{
    position: relative;
    left:18px;
    top:13px;
}

.etoilez
{
  position: relative;
  left:18px;
  top:30px;
  }


/*Travail sur la Partie Activités à Marseille*/

#activitemarseille
{
    flex-grow: 1;
    width:700px;
    height: 920px;
    box-sizing: border-box;
    margin:0;
    padding:0;
    Position:relative;
    left:20px;
    top:90px;
    background-color: #F2F2F2;
    border-radius: 20px;
}


.grostitre3
{
    font-size: 20px;
    position: relative;
    left:190px;
    top:10px;
}


.conteneur
{
    flex-direction: column;
}


/*Travail sur le Bloc1*/

.blocimage
{
    flex-direction:row;
   
}

.blocimage2
{ 
   flex-direction: row;
   position:relative;
   left:-320px;
}

.titreactivite1
{
    width: 281px;
    font-size: 16px;
    position: relative;
    top:140px;
    left:0px;
    border-color:white; 
}

.activimage1
{
    width: 260px;
    height: 185px; 
    position: relative;
    left:15px;
}


.activite1
{
    width: 295px;
    height: 185px;  
}


/*division du bloc1*/

.titreactivite2
{
    width: 281px;
    font-size: 16px;
    position: relative;
    top:140px;
    left:0px;
    border-color:white; 
}

.activimage2
{
    width:260px;
    height:185px; 
    padding-right:30px;
    position: relative;
    left:60px;
}


.activite2
{
    width: 295px;
    height: 185px;  
}

.titreactivite3
{
    width: 281px;
    font-size: 16px;
    position: relative;
    top:135px;
    left:0px;
    border-color:white; 
}

.activimage3
{
    width: 250px;
    height: 185px; 
    position:relative;
    right:555px; 
    top:258px;
}

.activite3
{
    width: 295px;
    height: 185px;  
    position: relative;
    bottom:105px;
}



/*Travail sur le Bloc2 */


.titreactivite4
{
   
    width: 281px;
    font-size: 16px;
    position: relative;
    top:145px;
    left:-10px;
    border-color:white; 
}


.activimage4
{
    width: 250px;
    height: 185px;
    position:relative;
    bottom:10px;
    left:330px; 
}


.activite4
{
    width: 295px;
    height: 185px;  
}



/*division du bloc2*/


.titreactivite5
{
    
    width: 281px;
    font-size: 16px;
    position: relative;
    top:140px;
    left:0px;
    border-color:white; 
}


.activimage5
{
    width: 250px;
    height: 185px;
    position: relative;
    left:65px;
    top:255px;
    
}

.activite5
{
    width: 295px;
    height: 185px;  
}


.titreactivite6
{
    width:281px;
    font-size: 16px;
    position: relative;
    top:195px;
    left:0px;
    border-color:white; 
}


.activimage6
{
    width: 250px;
    height: 185px;
    position:relative;
    left:140px;
    top:200px;
}


.activite6
{
    width: 295px;
    height: 185px;  
}



/*Travail sur le Footer, il y a 3 Bloc*/

.footer
{
    width:700px;
    box-sizing: border-box;
    height:190px;
    border-radius: 20px;
    margin:0;
    padding:0;
    padding-top: 10px;
    align-items: baseline;
    justify-content: center;
    position: relative;
    top:125px; 
    left:20px;
}


/*Travail sur les Titres*/

.titrefooter
{
    font-size: 14px;
    flex-direction: row;
}

.listeA
{
    font-size: 15px;
}

/*Travail sur les Bloc 1*/


.apropos
{
    width:290px;
    height: 140px;
    position: relative;
    top:20px;
    left:20px; 
}


/*Travail sur le Bloc 2*/

.noshebergements
{
    width: 200px;
    height: 140px;
    position: relative;
    top:20px;
    left:10px;
}


/*Travail sur le Bloc 3*/

.assistance
{
    width:150px;
    height: 140px;
    position: relative;
    top:20px;
    left:5px;
}

}





/************************************************************************************************************************************************/




@media (min-width:768px) and (max-width:790px)


{

   
body 
{
    background-color:blue;
    overflow-x: hidden;
    justify-content: center;
    padding-left:10px;
}


/*Travail sur les Filtres*/


.filtre /*toutes ma colonne de filtres*/
{
    
    display: flex;
    align-items: baseline;
    justify-content: center;
    font-size: 10px;
    margin:0px;
    padding:0;
    padding-top:20px;
    height: 70px;
    position:relative;
    left:30px;
}

.F1{
    font-weight: bold;
    font-size: 18px;
    margin-right: 10px;
    position: relative;
    top:35px;
}


.F2 /*ma bordure de filtre*/
{
    border: 2px solid #F2F2F2;
    border-radius: 30px;
    margin:0;
    display: flex;
    align-items:flex-start;
    justify-content: space-around; 
}


.iconefiltres
{
    border-radius: 30px;
    font-size: 25px;
    width: 45px;
    height: 40px;
    margin:0px;
    padding: 0px;
    color: #0065FC;
    background-color:#F2F2F2 ;
    display: flex;
    align-items: center;
    padding-left: 17px;
    padding-top: 10px;
    
}

.recadre
{
  position:relative;
  top:5px;

}

.recadre1
{
    font-size:30px;
    margin: 0;
    position: relative;
    left:0px;
}

.ftext
{
    font-size: 17px;
    font-weight: bolder;
    display: flex;
    padding-right:10px;
    padding-left:10px;
    padding-top:15px;
    
}

.ftext:hover
{
    color: #0065FC;
    text-transform:none;
}

.ftext2
{
    position:relative;
    left:15px;
}

.ftext3
{
    position: relative;
    left:30px;
}


.ftext4
{
    display:flex;
    position: relative;
    right:495px;
    top:70px;
    

}

/*travail sur l'info 500 logements*/

.info 
{
    padding-top: 10px;
    padding-bottom: 20px;
    position:relative;
    top:60px;
}
.infopositionp
{
  font-size: 18px;
}


/*effet de la ligne bleu sur la navigation*/

.pose1
{
    width:150px ;
    position:relative;
    left:280px;
} 

  
/*Travail sur le Main=contenue de la page"*/

#hebergementmarseille
{
    display: block;
    width:700px;
    box-sizing: content-box;
    padding:0;
    margin:0;
    padding-right:-30px;
    position: relative;
    left:20px;
    top:50px;
}

.blochebergement
{
    flex-grow:1;
    width:700px;
    height: 1030px;
    display: block;
    flex-direction: column;
    align-items:baseline;
    background-color:#F2F2F2;
    margin:0px;
    padding: 0px;
    margin-bottom: 40px;
    border-radius: 20px;
}

.blocpopulaire
{
    width:700px;
    height:400px;
    margin:0;
    padding:0;
    background-color: #F2F2F2;
    box-sizing:content-box;
    border-radius: 20px;

    
}

.grostitre1
{
    font-size: 28px;
    display: flex;
    padding-top:20px ;
    padding-bottom:50px;
    align-items: center;
    position:relative;
    left:120px;
    top:20px;
   
}


.grostitre2
{
    font-size: 28px;
    display: flex;
    padding-top:15px;
    padding-bottom:5px;
    position: relative;
    left:160px;
    
}


.iconechart
{
    font-size: 22px;
    padding-left:0px;
    position: relative;
    left:180px;
    
}

/*travail sur les colognes 1 et 2, partie hébergement à Marseille */



.positionimg1, .positionimg2, .positionimg3
{
    width:295px;
}

.posimge3, .posimg4, .posimg5
{
    width:295px;
}

.fondpose1, .fondpose2, .fondpose3
{
    width:305px;
}

.fondpos3, .fondpose4, .fondpose5
{
    width:295px;
}


.positionimg1
{
    position:relative;
    left:30px;
    top:30px;
}

.fondpose1
{
    position:relative;
    left:30px;
    bottom:10px;
}


.positionimg2
{
    position:relative;
    left:55px;
    top:30px;
}

.fondpose2
{
    position:relative;
    left:55px;
    bottom:10px;
}

.positionimg3
{
    position: relative;
    right:580px;
    top:310px;
}

.fondpose3
{
    
    position: relative;
    top:270px;
    right:580px;
    
}


.posimge3
{
    position: relative;
    left:360px;
    top:33px;
}

.fondpos3
{
    position: relative;
    bottom:25px;
    left:360px;
}



.posimg4
{
    position:relative;
    top:310px;
    left:-275px;
}


.fondpose4
{
    position:relative;
    top:260px;
    right:275px;
   
}

.posimg5
{
    position:relative;
    left:-250px;
    top:310px;
}


.fondpose5
{
    position:relative;
    right:250px;
    top:260px;
}


.plus
{
    position:relative;
    top:290px;
    right:15px;
    left:42px;
}

/*positionnement de l'icone chart sur le bloc les plus populaires*/


/*Travail sur la partie les plus populaires*/



.tab1
{
    align-items:baseline;
    width:200px;
    height:140px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 0;
    position: relative;
    left: 125px; 
}

.fond3
{
    background-color:white;
    width:210px;
    height: 100px;
    margin:0px;
    padding:0px;
    display: flex;
    border:none;
    border-top-right-radius:0;
    border-bottom-left-radius: 20px;
    position: relative;
    left:-85px;
    top:0px;
    z-index: 1;
}

.tablette1
{
    position:relative;
    right:130px;
    top:15px;
}

.tablette2
{
    position:relative;
    left:95px;
    bottom:215px;
}

.tablette3
{
    position:relative;
    left:320px;
    bottom:445px;
}



.titrehotel3
{
    font-size: 14px;
    width: 220px;
    margin:0px;
    padding:0px;
    font-weight: bolder;
    position: relative;
    left:20px;
    top:10px;
}


.soustitre3
{
    font-size:16px;
    margin:0px;
    padding:0px;
    padding-left:20px;
    font-weight: lighter;
    position: relative;
    top:20px;
}

.taby
{
  position:relative;
  top:8px;
}



.etoilex
{
    position: relative;
    left:18px;
    top:30px;
}

.etoiley
{
    position: relative;
    left:18px;
    top:13px;
}

.etoilez
{
  position: relative;
  left:18px;
  top:30px;
  }


/*Travail sur la Partie Activités à Marseille*/

#activitemarseille
{
    flex-grow: 1;
    width:700px;
    height: 920px;
    box-sizing: border-box;
    margin:0;
    padding:0;
    Position:relative;
    left:20px;
    top:90px;
    background-color: #F2F2F2;
    border-radius: 20px;
}


.grostitre3
{
    font-size: 20px;
    position: relative;
    left:190px;
    top:10px;
}


.conteneur
{
    flex-direction: column;
}


/*Travail sur le Bloc1*/

.blocimage
{
    flex-direction:row;
   
}

.blocimage2
{ 
   flex-direction: row;
   position:relative;
   left:-320px;
}

.titreactivite1
{
    width: 281px;
    font-size: 16px;
    position: relative;
    top:140px;
    left:0px;
    border-color:white; 
}

.activimage1
{
    width: 260px;
    height: 185px; 
    position: relative;
    left:15px;
}


.activite1
{
    width: 295px;
    height: 185px;  
}


/*division du bloc1*/

.titreactivite2
{
    width: 281px;
    font-size: 16px;
    position: relative;
    top:140px;
    left:0px;
    border-color:white; 
}

.activimage2
{
    width:260px;
    height:185px; 
    padding-right:30px;
    position: relative;
    left:60px;
}


.activite2
{
    width: 295px;
    height: 185px;  
}

.titreactivite3
{
    width: 281px;
    font-size: 16px;
    position: relative;
    top:135px;
    left:0px;
    border-color:white; 
}

.activimage3
{
    width: 250px;
    height: 185px; 
    position:relative;
    right:555px; 
    top:258px;
}

.activite3
{
    width: 295px;
    height: 185px;  
    position: relative;
    bottom:105px;
}



/*Travail sur le Bloc2 */


.titreactivite4
{
   
    width: 281px;
    font-size: 16px;
    position: relative;
    top:145px;
    left:-10px;
    border-color:white; 
}


.activimage4
{
    width: 250px;
    height: 185px;
    position:relative;
    bottom:10px;
    left:330px; 
}


.activite4
{
    width: 295px;
    height: 185px;  
}



/*division du bloc2*/


.titreactivite5
{
    
    width: 281px;
    font-size: 16px;
    position: relative;
    top:140px;
    left:0px;
    border-color:white; 
}


.activimage5
{
    width: 250px;
    height: 185px;
    position: relative;
    left:65px;
    top:255px;
    
}

.activite5
{
    width: 295px;
    height: 185px;  
}


.titreactivite6
{
    width:281px;
    font-size: 16px;
    position: relative;
    top:195px;
    left:0px;
    border-color:white; 
}


.activimage6
{
    width: 250px;
    height: 185px;
    position:relative;
    left:140px;
    top:200px;
}


.activite6
{
    width: 295px;
    height: 185px;  
}



/*Travail sur le Footer, il y a 3 Bloc*/

.footer
{
    width:700px;
    box-sizing: border-box;
    height:190px;
    border-radius: 20px;
    margin:0;
    padding:0;
    padding-top: 10px;
    align-items: baseline;
    justify-content: center;
    position: relative;
    top:125px; 
    left:20px;
}


/*Travail sur les Titres*/

.titrefooter
{
    font-size: 14px;
    flex-direction: row;
}

.listeA
{
    font-size: 15px;
}

/*Travail sur les Bloc 1*/


.apropos
{
    width:290px;
    height: 140px;
    position: relative;
    top:20px;
    left:20px; 
}


/*Travail sur le Bloc 2*/

.noshebergements
{
    width: 200px;
    height: 140px;
    position: relative;
    top:20px;
    left:10px;
}


/*Travail sur le Bloc 3*/

.assistance
{
    width:150px;
    height: 140px;
    position: relative;
    top:20px;
    left:5px;
}

}





/************************************************************************************************************************************************/


@media (max-width:767px)

{

    body 
    {
        background-color:yellow;
        
    }
    
    /*travail sur la balise H1 et le paragraphe ci-dessous*/
  
    /*Travail sur les Filtres*/
    
    
    .filtre /*toutes ma colonne de filtres*/
    {
        display: flex;
        align-items: baseline;
        justify-content: center;
        justify-content: space-between;
        font-size: 10px;
        margin:0;
        padding: 0;
        padding-left: 35px;
        padding-top: 30px;
        width:850px;
        height: 70px;
    }
    
    .F1{
        font-weight: bold;
        font-size: 18px;
        margin-right: 10px;
    }
    
    
    .F2 /*ma bordure de filtre*/
    {
        border: 2px solid #F2F2F2;
        height: 50px;
        border-radius: 30px;
        margin:0;
        display: flex;
        align-items:flex-start;
        justify-content: space-between; 
    }
    
    
    .iconefiltres
    {
        border-radius: 30px;
        font-size: 25px;
        width: 45px;
        height: 40px;
        margin:0px;
        padding: 0px;
        color: #0065FC;
        background-color:#F2F2F2 ;
        display: flex;
        align-items: center;
        padding-left: 17px;
        padding-top: 10px;
        
    }
    
    .recadre
    {
      position:relative;
      top:5px;
    }
    
    .recadre1
    {
        font-size:30px;
        margin: 0;
        position: relative;
        left:0px;
    }
    
    .ftext
    {
        font-size: 17px;
        font-weight: bolder;
        display: flex;
        padding-right:10px;
        padding-left:10px;
        padding-top:15px;
        
    }
    
    .ftext:hover
    {
        color: #0065FC;
        text-transform:none;
    }
    
    /*travail sur l'info 500 logements*/
    
    .infopositionp
    {
      font-size: 18px;
    }
    
    
    /*effet de la ligne bleu sur la navigation*/
    
    .pose1
    {
        position:relative;
        left: 420px;
    } 
    
      
    /*Travail sur le Main=contenue de la page"*/
    
    #hebergementmarseille
    {
        display: block;
        align-items: center;
        justify-content: center;
        padding:0;
        margin:0;
        width:910px;
        position: relative;
        left: 20px;
        
    }
    
    .blochebergement
    {
        flex-grow:1;
        width:890px;
        height: 730px;
        display: block;
        flex-direction: column;
        align-items:baseline;
        background-color:#F2F2F2;
        margin:0px;
        padding: 0px;
        margin-bottom: 40px;
        border-radius: 20px;
        Position:relative;
        left:10px;
    }
    
    .blocpopulaire
    {
        width:890px;
        height:400px;
        margin:0;
        padding:0;
        background-color: #F2F2F2;
        box-sizing:content-box;
        border-radius: 20px;
        display: block;
        flex-direction: row;
        Position:relative;
        left:10px;
        flex-grow:1; 
    }
    
    .grostitre1
    {
        font-size: 28px;
        display: flex;
        align-items: center;
        position:relative;
        left:220px;
        top:20px;
    }
    
    
    .grostitre2
    {
        font-size: 28px;
        display: flex;
        margin:0;
        
    }
    
    /*travail sur les colognes 1 et 2, partie hébergement à Marseille */
    
    .titrehotel1
    {
        font-size: 15px;
    }
    
    .soustitre1
    {
        font-size: 15px;
    }
    
    .titrehotel2
    {
        font-size: 15px;
        padding-bottom: 5px;
    }
    
    .soustitre2
    {
        font-size: 15px;
        padding-bottom: 5px;
    }
    .cologne1
    
    {
    position: relative;
    top:5px;
        
    }
    
    
    .positionimg2, .fondpose2
    {
        position:relative;
        right: 15px;
    }
    
    .positionimg3, .fondpose3
    {
        position: relative;
        right:30px;
    }
    
    .cologne2
    {
        position:relative;
        top:5px;
    }
    .posimg4, .fondpose4
    {
        position:relative;
        left: -15px;
    }
    
    .posimg5, .fondpose5
    {
        position:relative;
        left:-30px;
    }
    
    .plus
    {
        position:relative;
        top:20px;
    }
    
    /*positionnement de l'icone chart sur le bloc les plus populaires*/
    
    .positionicon
    
    {
        display:flex;
        align-items: baseline;
        justify-content: space-between;
        padding-top: 10px;
        padding-bottom: 20px;
        position: relative;
        left:250px;
    }
    
    .iconechart
    {
        font-size: 22px;
        padding-left:50px;
    }
    
    
    /*Travail sur la partie les plus populaires*/
    
    .photo2
    {
        display:inline-flex;
        justify-content: space-around;
        flex-grow:1;
        width: 290px;
        height: 240px;
        margin:0px;
        padding:0px; 
        position: relative;
        right: 15px;
    }
    
    
    
    .tab1
    {
        display:block;
        align-items:baseline;
        justify-content: space-around;
        width:250px ;
        height: 185px;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
        border-bottom-left-radius: 0;
        position:relative;
        left:20px;
        border:5px solid white;  
    }
    
    
    
    .fond3
    {
        background-color:white;
        width: 260px;
        height: 100px;
        flex-grow:1;
        margin:0px;
        padding:0px;
        display: flex;
        border:none;
        border-top-right-radius:0;
        border-bottom-left-radius: 20px;
        position:absolute;
        left:35px;
        bottom:-30px;
        z-index: 1;
    }
    
    
    .titrehotel3
    {
        font-size: 15px;
        width: 220px;
        margin:0px;
        padding:0px;
        font-weight: bolder;
        position: relative;
        left:20px;
        top:10px;
      
    }
    
    
    .soustitre3
    {
        font-size:16px;
        margin:0px;
        padding:0px;
        padding-left:20px;
        font-weight: lighter;
        position: relative;
        top:20px;
    }
    
    .taby
    {
      position:relative;
      top:8px;
    }
    
    
    
    
    .etoilex
    {
        position: relative;
        left:18px;
        top:30px;
    }
    
    .etoiley
    {
        position: relative;
        left:18px;
        top:13px;
    }
    
    .etoilez
    {
      position: relative;
      left:18px;
      top:30px;
      }
    
    
    /*Travail sur la Partie Activités à Marseille*/
    
    #activitemarseille
    {
        flex-grow: 1;
        width:890px;
        height: 620px;
        box-sizing: border-box;
        margin:0;
        padding:0;
        Position:relative;
        left:30px;
        background-color: #F2F2F2;
        border-radius: 20px;
    }
    
    
    .grostitre3
    {
        font-size: 20px;
        position: relative;
        left:-3px;
        top:10px;
    }
    
    
    .conteneur
    {
        flex-direction: column;
    }
    
    
    /*Travail sur le Bloc1*/
    
    .bloc1
    {
        align-items: baseline;
        position:relative;
        left:80px;
    }
    
    .bloc2
    {   
        position:relative;
        left:95px;
        bottom:10px;
    }
    
    .blocimage
    {
        flex-direction:row;
        position: relative;
        left:-25px;
    }
    
    .blocimage2
    { 
       flex-direction: row;
       position:relative;
       left:-25px;
    }
    
    .titreactivite1
    {
        width: 236px;
        font-size: 16px;
        position: relative;
        top:140px;
        left:0px;
        border-color:white; 
    }
    
    .activimage1
    {
        width: 260px;
        height: 185px;    
    }
    
    
    .activite1
    {
        width: 250px;
        height: 185px; 
    }
    
    
    /*division du bloc1*/
    
    .titreactivite2
    {
        width: 236px;
        font-size: 16px;
        position: relative;
        top:140px;
        left:0px;
        border-color:white; 
    }
    
    .activimage2
    {
        width:260px;
        height:185px; 
        padding-right:30px;
       
    }
    
    
    .activite2
    {
        width: 250px;
        height: 185px; 
    }
    
    .titreactivite3
    {
        width: 236px;
        font-size: 16px;
        position: relative;
        top:135px;
        left:0px;
        border-color:white; 
    }
    
    .activimage3
    {
        width: 250px;
        height: 185px;  
    }
    
    .activite3
    {
        width: 250px;
        height: 180px;
        position: relative;
        bottom:105px;
    }
    
    
    
    /*Travail sur le Bloc2 */
    
    
    .titreactivite4
    {
       
        width: 236px;
        font-size: 16px;
        position: relative;
        top:145px;
        left:-10px;
        border-color:white; 
    }
    
    
    .activimage4
    {
        width: 250px;
        height: 185px;
        
        
    }
    
    
    .activite4
    {
        width: 250px;
        height: 185px;
    }
    
    
    
    /*division du bloc2*/
    
    
    
    
    .titreactivite5
    {
        
        width: 236px;
        font-size: 16px;
        position: relative;
        top:140px;
        left:0px;
        border-color:white; 
    }
    
    
    .activimage5
    {
        width: 250px;
        height: 185px;
        
    }
    
    .activite5
    {
        width: 250px;
        height: 185px;
       
    }
    
    
    .titreactivite6
    {
        
        width: 236px;
        font-size: 16px;
        position: relative;
        top:195px;
        left:0px;
        border-color:white; 
    }
    
    
    .activimage6
    {
        width: 250px;
        height: 185px;
        position:relative;
        left: 35px;
        bottom:60px;
    }
    
    
    .activite6
    {
        width: 250px;
        height: 185px;
        
    }
    
    
    
    /*Travail sur le Footer, il y a 3 Bloc*/
    
    .footer
    {
        width: 890px;
        box-sizing: border-box;
        height: 210px;
        border-radius: 20px;
        margin:0;
        padding:0;
        padding-top: 10px;
        align-items: baseline;
        justify-content: center;
        position: relative;
        top:100px; 
        left:30px;
     
    }
    
    
    /*Travail sur les Titres*/
    
    .titrefooter
    {
        font-size: 18px;
        flex-direction: row;
    }
    
    
    /*Travail sur les Bloc 1*/
    
    
    .apropos
    {
        width:290px;
        position: relative;
        top:5px;
        right:60px; 
       
    }
    
    
    /*Travail sur le Bloc 2*/
    
    .noshebergements
    {
        width: 200px;
        height: 200px;
        position: relative;
        top:5px;
        right:30px;
       
    }
    
    
    /*Travail sur le Bloc 3*/
    
    .assistance
    {
        width: 200px;
        height: 200px;
        position: relative;
        top:5px;
        left:45px;
        
     
    }
    
    }
    
    
    
    
    

